{% comment %}
  Renders an accordion block.

  Accepts:
  - heading: {String} tab Header
  - row_content: {String} Tab content.
  - page_content {String} Optional page content.
  - open_tab {Boolean} Should the tab automatically opened.
  - id {String} This should be unique and where applicable include the section and block id.

  Usage:
  {% assign custom_id = section.id | append: "-" | append: block.id %}
  {% render 'block-accordion',
    heading: block.settings.heading,
    row_content: block.settings.row_content,
    page_content: block.settings.page.content,
    open_tab: false,
    id: custom_id
  %}
{% endcomment %}
<details
  id="Details-{{ id }}"
  {% if open_tab %}
    open
  {% endif %}
>
  <summary id="Summary-{{ id }}" class="block-accordion">
    <h5 class="accordion__header"{% if question_font_size %} style="--override-font-size: {{ question_font_size }}px;"{% endif %}>{{ heading }}</h5>
    {% render 'icons-main', icon: 'caret' %}
  </summary>
  <div
    class="accordion__content rte"{% if answer_font_size %} style="--override-font-size: {{ answer_font_size }}px;"{% endif %}
    id="CollapsibleAccordion-{{ id }}"
    role="region"
    aria-labelledby="Summary-{{ id }}"
  >
    {{ row_content }}
    {{ page_content }}
  </div>
</details>
