{% comment %}
    Renders an article card for a given blog with settings to either show the excerpt or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - show_excerpt {Boolean} Should a snippet of the blog post display

    Usage:
    {% render 'article-card' blog: blog, article: article, show_excerpt: true %}
{% endcomment %}

{%- if article and article != empty -%}
  {%- liquid

    if collection_image == blank 
      assign collection_image = card_collection.featured_image
    endif

    assign ratio = 1
    if settings.blog_image_ratio == 'portrait'
      assign ratio = 0.8
    elsif settings.blog_image_ratio == 'adapt' and collection_image != blank
      assign ratio = collection_image.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
  -%}

  <a href="{{ article.url }}" class="link-reduce">
    <div class="card-wrapper">
      <div class="card article-card 
        card--standard
        {% if media_height and media_height != 'adapt' %} article-card__image--{{ media_height }}{% endif %}
        {% if article.image %} card--media{% else %} card--text{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        <div class="card__inner ratio{% if article.image == blank %} article-card__no-image{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
          {%- if article.image -%}
            <div class="article-card__image-wrapper card__media">
              <div class="article-card__image media" {% if section.settings.media_height == 'adapt' %} style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif %}>
                <img
                  srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                    {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                  src="{{ article.image.src | image_url: width: 533 }}"
                  sizes="(min-width: 1400px) 700}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ article.image.src.alt | escape }}"
                  class="motion-reduce"
                  {% unless lazy_load == false %}loading="lazy"{% endunless %}
                  width="{{ article.image.width }}"
                  height="{{ article.image.height }}"
                  loading="lazy"
                >
              </div>
            </div>
          {%- else -%}
            <h3 class="card__heading card-article__heading"{% if article_title_font_size %} style="--override-font-size: {{ article_title_font_size }}px;"{% endif %}>
              {{ article.title | escape }}
            </h3>
          {%- endif -%}
        </div>
        <div class="card__content">
          <div class="card__information card-article__information">
            <div class="article-card__info h5"{% if article_date_font_size %} style="--override-font-size: {{ article_date_font_size }}px;"{% endif %}>
              {%- if settings.show_date -%}
                <p>{{ article.published_at | time_tag: format: 'date' }}</p>
              {%- endif -%}
              {%- if settings.show_author -%}
                <p>{{ article.author }}</p>
              {%- endif -%}
            </div>
            {%- if article.image -%}
              <h3 class="card__heading card-article__heading"{% if article_title_font_size %} style="--override-font-size: {{ article_title_font_size }}px;"{% endif %}>
                {{ article.title | escape }}
              </h3>
            {% endif -%}
            {%- if show_excerpt -%}
              {%- if article.excerpt_or_content -%}
                <p class="article-card__excerpt rte"{% if article_excerpt_font_size %} style="--override-font-size: {{ article_excerpt_font_size }}px;"{% endif %}>
                    {{ article.excerpt_or_content | strip_html | truncatewords: 15 }}
                </p>
              {%- endif -%}
              <div class="article-card__footer">
                {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                  <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
          {%- if show_badge -%}
            <div class="card__badge {{ settings.badge_position }}">
              <span class="badge">{{ 'blogs.article.blog' | t }}</span>
            </div>
          {%- endif -%}  
        </div>
      </div>
    </div>
  </a>
{%- endif -%}
