{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'slider.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
  case section.settings.media_size
    when 'small'
      assign media_grid = '30%'
      assign content_grid = '70%'
    when 'medium'
      assign media_grid = '50%'
      assign content_grid = '50%'
    when 'large'
      assign media_grid = '70%'
      assign content_grid = '30%'
  endcase
  assign show_top_divider = section.settings.show_top_divider

  if settings.icon_style == 'outline'
    assign zoom_icon = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' class='icon icon-zoom'%3E%3Cg fill='currentColor'%3E%3Cpath d='M33.66,29.91l10.609,10.609l-3.75,3.75l-10.609,-10.609' fill='none' stroke='currentColor' stroke-linecap='square' stroke-miterlimit='10' stroke-linejoin='miter' /%3E%3Cg%3E%3Cpath d='M27.478,18.724l-5.664,-0l-0,-5.665l-3.09,0l-0,5.665l-5.665,-0l0,3.09l5.665,-0l-0,5.664l3.09,0l-0,-5.664l5.664,-0l0,-3.09Z' fill='none' stroke='currentColor' stroke-linecap='square' stroke-miterlimit='10' stroke-linejoin='miter'/%3E%3C/g%3E%3Cpath d='M20.269,36.769c9.112,-0 16.5,-7.388 16.5,-16.5c-0,-9.113 -7.388,-16.5 -16.5,-16.5c-9.113,-0 -16.5,7.387 -16.5,16.5c-0,9.112 7.387,16.5 16.5,16.5Z' fill='none' stroke='currentColor' stroke-linecap='square' stroke-miterlimit='10' stroke-linejoin='miter' /%3E%3Cpath d='M20.25,33.375c7.249,0 13.125,-5.876 13.125,-13.125c0,-7.249 -5.876,-13.125 -13.125,-13.125c-7.249,-0 -13.125,5.876 -13.125,13.125c-0,7.249 5.876,13.125 13.125,13.125Z' fill='none' stroke='currentColor' stroke-linecap='square' stroke-miterlimit='10' stroke-linejoin='miter'/%3E%3C/g%3E%3C/svg%3E"
  elsif settings.icon_style == 'drawn'
    assign zoom_icon = "data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48' viewBox='0 0 48 48' class='icon icon-drawn icon-zoom'%0A%3E%3Cpath d='M5.78267 27.4458C6.87807 28.7434 8.3144 29.703 9.92645 30.2138C11.4253 30.6905 12.9845 30.9463 14.5558 30.9735C16.8646 31.0262 19.184 30.6367 21.6496 29.7842C23.3378 29.2034 24.9511 28.421 26.4551 27.4537C26.4908 27.5267 26.5346 27.5956 26.5854 27.659C29.3431 30.9708 32.3526 33.9983 34.9336 36.5237C37.5441 39.0778 40.235 41.6325 42.7674 44.0302C43.1653 44.3894 43.5882 44.7197 44.0327 45.0183C44.1597 45.1087 44.2883 45.1989 44.4148 45.2907C44.6223 45.4558 44.8763 45.5505 45.1405 45.5619C45.3353 45.5615 45.5244 45.4945 45.6768 45.372C46.0953 45.0459 46.1772 44.5153 45.8849 44.02L45.7367 43.7665C45.4408 43.2083 45.0801 42.6875 44.6624 42.2151C42.893 40.3736 40.9865 38.451 38.9961 36.5008C36.7912 34.3403 34.5377 32.1557 32.3584 30.0435C31.1722 28.8939 29.9868 27.7437 28.8024 26.5926C28.6458 26.4404 28.4998 26.2733 28.3586 26.1117C28.3238 26.0717 28.2891 26.0321 28.2549 25.9933L28.3111 25.9308C28.3924 25.8393 28.4744 25.7489 28.5604 25.6638C30.5956 23.6732 31.7103 21.1842 31.8734 18.2661C32.1568 13.1959 30.4608 8.89516 26.8325 5.48306C25.0539 3.77043 22.7476 2.7235 20.2973 2.51648C17.9142 2.2864 15.5098 2.5635 13.2397 3.32981C9.78822 4.51677 6.852 6.78309 4.51304 10.0655C2.42662 12.992 1.60421 16.1967 2.06612 19.5903C2.44168 22.3655 3.65814 24.935 5.78267 27.4458ZM16.7046 5.81422C17.0747 5.77909 17.4448 5.74447 17.8149 5.71031C23.336 5.49294 26.6258 9.30738 27.8642 12.9477C28.7106 15.4361 28.89 17.5388 28.4292 19.5675C28.1262 20.9777 27.443 22.2759 26.4549 23.3194C25.3063 24.5233 23.9314 25.4845 22.4105 26.1465C19.027 27.6725 15.7378 28.1726 12.3556 27.6747C10.1872 27.3558 8.5391 26.3955 7.31718 24.7392C6.06116 23.0376 5.2705 21.4205 4.89984 19.7978C4.36093 17.5643 4.57932 15.2131 5.52014 13.1193C6.60163 10.6987 8.03654 8.91364 9.90688 7.66228C11.3922 6.66836 12.7576 6.15219 14.204 6.03838C15.0386 5.97196 15.8855 5.89162 16.7046 5.81422Z' fill='black'/%3E%3Cpath d='M7.56395 16.6394C7.5402 16.8441 7.59601 17.0502 7.71963 17.2144C7.84328 17.3785 8.02514 17.488 8.22707 17.5199C8.57169 17.6088 8.9262 17.6525 9.28189 17.6501C10.644 17.5972 12.028 17.5287 13.3664 17.4624L14.6774 17.398C14.9021 17.387 15.1269 17.375 15.3809 17.3614L15.6106 17.3493L15.6195 17.4287C15.6342 17.5587 15.6451 17.6542 15.6534 17.7501C15.6884 18.1526 15.7229 18.5551 15.757 18.9577C15.8434 19.9719 15.9328 21.0202 16.0337 22.0509C16.0425 22.397 16.1406 22.7348 16.3184 23.031C16.5404 23.3337 16.8592 23.5496 17.221 23.6422C17.2668 23.6511 17.3133 23.6557 17.3599 23.6559C17.7279 23.6559 18.0465 23.3657 18.1613 22.9057C18.2588 22.5586 18.3034 22.1985 18.2934 21.8379C18.2459 21.1109 18.1729 20.3752 18.1022 19.6638C18.0749 19.3894 18.0482 19.115 18.022 18.8404L17.8634 17.1737L17.9311 17.166C18.0563 17.1513 18.1517 17.1404 18.2473 17.1309L19.5795 16.9978C20.7832 16.8784 22.0276 16.7548 23.2507 16.6209C23.5904 16.6029 23.9204 16.5014 24.2123 16.3252C24.3429 16.2241 24.4485 16.0939 24.5206 15.9446C24.5928 15.7954 24.6298 15.6313 24.6283 15.4652C24.594 15.1685 24.3056 14.8731 24.0519 14.7244C23.793 14.6058 23.5067 14.561 23.2244 14.5948C22.3734 14.6276 21.3646 14.6717 20.337 14.7493C19.6802 14.7988 19.0367 14.8649 18.3556 14.935C18.1203 14.9594 17.8828 14.9838 17.6432 15.0082L17.6343 14.8739C17.6214 14.6807 17.6107 14.5193 17.6016 14.3577L17.5272 13.022C17.4775 12.1236 17.4266 11.2253 17.3745 10.3272C17.344 9.81483 17.0776 9.49405 16.6243 9.42233C16.5314 9.40743 16.4366 9.41159 16.3454 9.43448C16.2542 9.45737 16.1685 9.49852 16.0934 9.55553C15.9828 9.64521 15.8907 9.756 15.8226 9.88159C15.7545 10.0072 15.7116 10.1451 15.6964 10.2874C15.6482 10.6689 15.6277 11.0535 15.6349 11.438C15.6304 12.3843 15.6311 13.3309 15.6318 14.303V15.2621C15.3644 15.2912 15.1043 15.3201 14.8492 15.3483C14.1861 15.4215 13.5598 15.4916 12.9322 15.5496C11.403 15.6899 9.8454 15.8186 8.39017 15.9366C7.76007 15.988 7.59262 16.3472 7.56395 16.6394Z' fill='currentColor' stroke='currentColor'/%3E%3C/svg%3E"
  else
    assign zoom_icon = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Ctitle%3Ezoom-in%3C/title%3E%3Cg fill='%231e2030'%3E%3Cpath d='M25,18H20V13a1,1,0,0,0-2,0v5H13a1,1,0,0,0,0,2h5v5a1,1,0,0,0,2,0V20h5a1,1,0,0,0,0-2Z' fill='%231e2030'%3E%3C/path%3E%3Cpath d='M32.337,29.509a17.05,17.05,0,1,0-2.828,2.828L42.586,45.414a2,2,0,0,0,2.828-2.828ZM19,34A15,15,0,1,1,34,19,15.017,15.017,0,0,1,19,34Z' fill='%231e2030'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"
  endif
-%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-media.js' | asset_url }}" defer="defer"></script>

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{% style %}
  {% if section.settings.show_accent_image and section.settings.accent_image %}
    {% render 'styling-section',
      section_id: section.id,
      accent_image: section.settings.accent_image,
      accent_vertical_anchor: section.settings.accent_vertical_anchor,
      accent_horizontal_anchor: section.settings.accent_horizontal_anchor,
      accent_size: section.settings.accent_size,
      hide_accent_on_mobile: section.settings.hide_accent_on_mobile,
      accent_cover: section.settings.accent_cover
    %}
  {% endif %}
  @media screen and (min-width: 989px) {
    .section-{{ section.id }} .product-grid {
      display: grid;
      grid-template-columns: {{ media_grid }} {{ content_grid }};
    }
    .swiper-slide img:not(.deferred-media img, .swiper-product-thumbnails img) {
        cursor: url("{{ zoom_icon }}"), zoom-in;
    }
  }
  @media screen and (max-width: 990px) {
    {% if section.settings.mobile_show_arrows == false %}
      .section-{{ section.id }} .swiper-button-prev--media,
      .section-{{ section.id }} .swiper-button-next--media {
        display: none;
      }
    {% endif %}
    {% if section.settings.mobile_pagination == "dots" and section.settings.desktop_media_layout == "slider"%}
      .section-{{ section.id }} .swiper-product-thumbnails {
        display: none;
      }
    {% endif  %}
  }
{% endstyle %}

{%- if show_top_divider -%}
  <div class="top-divider color-{{ section.settings.divider_color_scheme }}"></div>
{%- endif -%}

<div class="section-outer{% if show_top_divider %} has-divider{% endif %}">
  <div class="section-{{ section.id }} section-standard section-content bg-default color-{{ section.settings.color_scheme }}">
    <div id="MainProduct" class="contained-section product-grid{% if section.settings.accent_image %} in-front-of-accent-image{% endif %}">
      <div class="main-product--media">
        {% render 'product-media-gallery',
          product: product,
          section_id: section.id,
          desktop_layout: section.settings.desktop_media_layout,
          mobile_show_arrows: section.settings.mobile_show_arrows,
          mobile_pagination: section.settings.mobile_pagination
        %}
        <div class="main-product--badges">
          {% render 'badges', product: product %}
        </div>
      </div>
      <div class="main-product__content {{ section.settings.section_alignment }}">
        <div class="main-product__content-inner main-product__content-sticky">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
                <div class="block--condensed">
                  <span
                    class="main-product__text bg-{{ block.settings.background }}{% if block.settings.show_as_badge %} badge{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {{- block.settings.text -}}
                  </span>
                </div>
              {%- when 'title' -%}
                {% liquid
                  if product == blank
                    assign title = 'onboarding.product_title' | t
                  else
                    assign title = product.title | escape 
                  endif

                  if block.settings.header_tag
                    assign header_tag = block.settings.header_tag
                  else
                    assign header_tag = 'h1'
                  endif
                %}
                <{{ header_tag }} class="main-product__title" {{ block.shopify_attributes }}>
                  {{ title }}
                </{{ header_tag }}>
              {%- when 'price' -%}
                <div class="main-product__price-container">
                  <div
                    class="main-product__price no-js-hidden"
                    id="price-{{ section.id }}"
                    role="status"
                    {{ block.shopify_attributes }}
                  >
                    {%- render 'price',
                      product: product,
                      use_variant: true,
                      price_class: 'price--large'
                    -%}
                  </div>
                  {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                    <div class="main-product__tax caption rte">
                      {%- if shop.taxes_included -%}
                        {{ 'products.product.include_taxes' | t }}
                      {%- endif -%}
                      {%- if shop.shipping_policy.body != blank -%}
                        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
                {% if product != blank %}
                  <div class="main-product__form" {{ block.shopify_attributes }}>
                    {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                      >
                      {{ form | payment_terms }}
                    {%- endform -%}
                  </div>
                {% endif %}
              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div class="main-product__description rte">
                    {{ product.description }}
                  </div>
                {%- endif -%}
              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}
              {%- when 'collapsible_tab' -%}
                {% assign custom_id = section.id | append: '-' | append: block.id %}
                <div
                  class="block accordion"
                  {{ block.shopify_attributes }}
                >
                  {% render 'block-accordion',
                    heading: block.settings.heading,
                    row_content: block.settings.content,
                    page_content: block.settings.page.content,
                    open_tab: block.settings.open_tab,
                    id: custom_id
                  %}
                </div>
              {%- when 'share' -%}
                <div class="main-product__share-icons" {{ block.shopify_attributes }}>
                  {% render 'share-icons', object: product %}
                </div>
              {%- when 'variant_picker' -%}
                {% if product != blank %}
                  {%- unless product.has_only_default_variant -%}
                    {%- if block.settings.picker_type == 'button' -%}
                      <variant-radios
                        class="no-js-hidden"
                        data-section="{{ section.id }}"
                        data-url="{{ product.url }}"
                        {{ block.shopify_attributes }}
                      >
                        {%- for option in product.options_with_values -%}
                          <fieldset class="js product-form__input">
                            {% liquid
                              assign swatch_labels = block.settings.option_names | downcase | split: ','
                              assign option_lowercase = option.name | downcase
                              assign is_swatch = false
                              for swatch in swatch_labels
                                assign swatch_clean = swatch | strip
                                if swatch_clean == option_lowercase
                                  assign is_swatch = true
                                  break
                                endif
                              endfor
                            %}
                            <legend class="form__label">
                              {{ option.name }}{% if is_swatch %}: <span class="color-swatches__swatch-value">{{ option.values | find: 'selected' }}</span>{% endif %}
                            </legend>
                            {%- for value in option.values -%}
                              {% liquid
                                comment
                                  if there is only one product option, fade buttons for sold out variants
                                endcomment
                                assign class = ""
                                assign number_of_options = product.options | size
                                if number_of_options == 1
                                  unless product.variants[forloop.index0].available 
                                    assign class = "variant-selector__option--disabled"
                                  endunless
                                endif
                              %}
                              {% if is_swatch %}
                                {% liquid
                                  assign swatch_style = block.settings.swatch_style
                                  assign color = value | strip | handleize
                                  assign class = class | append: 'color-swatches__swatch--color_swatch'
                                  if option.selected_value == value
                                    assign class = class | append: ' bg-accent color-swatches__swatch--active'
                                  else
                                    assign class = class | append: ' border-default'
                                  endif
                                  assign bg_color = shop.metaobjects.squiggle_and_code_swatch[color]
                                  if swatch_style == 'image_swatch' and bg_color.image == blank
                                    assign swatch_style = 'color_swatch'
                                  endif
                                %}
                                {% if swatch_style == 'color_swatch' %}
                                  {% if bg_color.color_two.value == blank %}
                                    {% capture color_style %}
                                        background-color: {{ bg_color.color_one.value }}
                                      {% endcapture %}
                                  {% else %}
                                    {% capture color_style %}
                                        background: linear-gradient( -45deg, {{ bg_color.color_one.value }}, {{ bg_color.color_one.value }} 49%, #fff 49%, #fff 51%, {{ bg_color.color_two.value }} 51% );
                                      {% endcapture %}
                                  {% endif %}
                                {% else %}
                                  {% capture color_style %}
                                    background-image: url({{ bg_color.image | image_url }})"
                                  {% endcapture %}
                                {% endif %}
                                <input
                                  type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}
                                    checked
                                  {% endif %}
                                >
                                <label
                                  style="{{ color_style }}"
                                  class="color-swatches__swatch {{ class }}"
                                  for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                ></label>
                              {% else %}
                                {% assign class = class | append: " border-default" %}
                                <input
                                  type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}
                                    checked
                                  {% endif %}
                                >
                                <label
                                  class="{{ class }}"
                                  for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                >
                                  {{ value }}
                                </label>
                              {% endif %}
                            {%- endfor -%}
                          </fieldset>
                        {%- endfor -%}
                        <script type="application/json">
                          {{ product.variants | json }}
                        </script>
                      </variant-radios>
                    {%- else -%}
                      <variant-selects
                        class="no-js-hidden"
                        data-section="{{ section.id }}"
                        data-url="{{ product.url }}"
                        {{ block.shopify_attributes }}
                      >
                        {%- for option in product.options_with_values -%}
                          <div class="product-form__input product-form__input--dropdown">
                            <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                              {{ option.name }}
                            </label>
                            <div class="select">
                              <select
                                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                                class="select__select"
                                name="options[{{ option.name | escape }}]"
                                form="{{ product_form_id }}"
                              >
                                {%- for value in option.values -%}
                                  <option
                                    value="{{ value | escape }}"
                                    {% if option.selected_value == value %}
                                      selected="selected"
                                    {% endif %}
                                  >
                                    {{ value }}
                                  </option>
                                {%- endfor -%}
                              </select>
                              {% render 'icons-main', icon: 'caret' %}
                            </div>
                          </div>
                        {%- endfor -%}

                        <script type="application/json">
                          {{ product.variants | json }}
                        </script>
                      </variant-selects>
                    {%- endif -%}
                  {%- endunless -%}

                  <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                    <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                      <label class="form__label" for="Variants-{{ section.id }}">
                        {{- 'products.product.product_variants' | t -}}
                      </label>
                      <div class="select">
                        <select
                          name="id"
                          id="Variants-{{ section.id }}"
                          class="select__select"
                          form="{{ product_form_id }}"
                        >
                          {%- for variant in product.variants -%}
                            <option
                              {% if variant == product.selected_or_first_available_variant %}
                                selected="selected"
                              {% endif %}
                              {% if variant.available == false %}
                                disabled
                              {% endif %}
                              value="{{ variant.id }}"
                            >
                              {{ variant.title }}
                              {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                              - {{ variant.price | money | strip_html }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icons-main', icon: 'caret' %}
                      </div>
                    </div>
                  </noscript>
                {% endif %}
              {%- when 'buy_buttons' -%}
                {% if product != blank %}
                  <div {{ block.shopify_attributes }}>
                    <product-form class="product-form">
                      <div class="product-form__error-message-wrapper" role="alert" hidden>
                        {% render 'icons-main', icon: 'cross' %}
                        <span class="product-form__error-message"></span>
                      </div>

                      {%- form 'product', product, id: product_form_id, class: 'form', data-type: 'add-to-cart-form' -%}
                        <input
                          type="hidden"
                          name="id"
                          value="{{ product.selected_or_first_available_variant.id }}"
                          disabled
                        >
                        {% if product.gift_card? %}
                          {% render 'gift-card-recipient-form', product: product, form: form, section: section %}
                        {% endif %}
                        <div class="product-form__buttons">
                          <div class="product-form__quantity_add_to_cart_buttons">
                            {% if block.settings.show_quantity_selector %}
                              <div
                                class="product-form__input product-form__quantity"
                              >
                                <label class="form__label visually-hidden" for="Quantity-{{ section.id }}">
                                  {{ 'products.product.quantity.label' | t }}
                                </label>

                                <quantity-input class="quantity">
                                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                                    <span class="visually-hidden">
                                      {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                                    </span>
                                    {% render 'icons-main', icon: 'minus' %}
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    name="quantity"
                                    id="Quantity-{{ section.id }}"
                                    min="1"
                                    value="1"
                                    form="{{ product_form_id }}"
                                  >
                                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                                    <span class="visually-hidden">
                                      {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                                    </span>
                                    {% render 'icons-main', icon: 'plus' %}
                                  </button>
                                </quantity-input>
                              </div>
                            {% endif %}
                            <button
                              type="submit"
                              name="add"
                              class="product-form__submit button solid button--full-width button--styled {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}secondary{% else %}button--primary{% endif %}"
                              {% if product.selected_or_first_available_variant.available == false %}
                                disabled
                              {% endif %}
                            >
                              <span>
                                {%- if product.selected_or_first_available_variant.available -%}
                                  {{ 'products.product.add_to_cart' | t }}
                                {%- else -%}
                                  {{ 'products.product.sold_out' | t }}
                                {%- endif -%}
                              </span>
                              <div class="loading-overlay__spinner hidden">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 48 48"
                                  class="spinner"
                                  role="presentation"
                                  aria-hidden="true"
                                  focusable="false"
                                >
                                  <g fill="currentColor">
                                    <circle cx="24" cy="5" r="5" fill="currentColor"></circle>
                                    <circle cx="37.435" cy="10.565" r="4.5" fill="currentColor"></circle>
                                    <circle cx="43" cy="24" r="4" fill="currentColor"></circle>
                                    <circle cx="37.435" cy="37.435" r="3.5" fill="currentColor"></circle>
                                    <circle cx="24" cy="43" r="3" fill="currentColor"></circle>
                                    <circle cx="10.565" cy="37.435" r="2.5" fill="currentColor"></circle>
                                    <circle cx="5" cy="24" r="2" fill="currentColor"></circle>
                                    <circle cx="10.565" cy="10.565" r="1.5" fill="currentColor"></circle>
                                  </g>
                                </svg>
                              </div>
                            </button>
                          </div>
                          {%- if block.settings.show_dynamic_checkout -%}
                            {{ form | payment_button }}
                          {%- endif -%}
                        </div>
                      {%- endform -%}
                    </product-form>

                    {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

                    <pickup-availability
                      class="product__pickup-availabilities no-js-hidden"
                      {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
                        available
                      {% endif %}
                      data-root-url="{{ routes.root_url }}"
                      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                      data-has-only-default-variant="{{ product.has_only_default_variant }}"
                    >
                      <template>
                        <pickup-availability-preview class="pickup-availability-preview">
                          {% render 'icons-main', icon: 'cross' %}
                          <div class="pickup-availability-info">
                            <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                            <button class="pickup-availability-button link link-reduce">
                              {{ 'products.product.pickup_availability.refresh' | t }}
                            </button>
                          </div>
                        </pickup-availability-preview>
                      </template>
                    </pickup-availability>
                  </div>

                  <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
                {% endif %}
              {%- when 'divider' -%}
                <hr
                  class="block border-{{ block.settings.color }}{% if block.settings.contain_width %} block--contained{% endif %}"
                  {{ block.shopify_attributes }}
                >
              {%- when 'complementary' -%}
                {% if product != blank %}
                  <product-recommendations
                    class="complementary-products quick-add-hidden no-js-hidden"
                    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.products_to_show }}&intent=complementary"
                    {{ block.shopify_attributes }}
                  >
                    {%- if recommendations.performed and recommendations.products_count > 0 -%}
                      <h3>{{ block.settings.title }}</h3>
                      {%- for product in recommendations.products -%}
                        <a href="{{ product.url }}">
                          <div class="complementary-products__product">
                            <div class="complementary-products__product-image">
                              <img
                                src="{{ product.featured_image | image_url: width: 150 }}"
                                alt="{{ product.featured_image.alt | escape }}"
                                loading="lazy"
                                width="150"
                                height="{{ 150 | divided_by: product.featured_image.aspect_ratio | ceil }}"
                              >
                            </div>
                            <div class="complementary-products__product-info">
                              <h4>{{ product.title }}</h4>
                              {%- render 'price', product: product, use_variant: true, price_class: 'price--large' -%}
                            </div>
                            <div class="complementary-products-arrow">
                              {% render 'icons-main', icon: 'diagonal-arrow' %}
                            </div>
                          </div>
                        </a>
                      {%- endfor -%}
                    {%- endif -%}
                  </product-recommendations>
                {% endif %}
              {%- when 'low_stock' -%}
                {% assign quantity = product.selected_or_first_available_variant.inventory_quantity %}
                <div id="lowStock-{{ section.id }}" class="low-stock" {{ block.shopify_attributes }}>
                  {% if quantity <= block.settings.threshold
                    and quantity > 0
                    and product.selected_or_first_available_variant.inventory_management != null
                  %}
                    {{ 'products.product.low_stock' | t: number: quantity }}
                  {% endif %}
                </div>
              {%- when 'payment_icons' -%}
                <div class="payment-icons block">
                  {% render 'payment-icons' %}
                </div>
              {%- when 'linked_products' -%}
                {% if product != blank %}
                  {% liquid
                    assign linked_products = product.metafields.squiggle_and_code.linked_products
                    if product.title contains block.settings.delimiter
                      assign color = product.title | split: block.settings.delimiter
                      assign color = color[1] | strip
                    endif
                  %}
                  {% if linked_products != blank %}
                    <div class="color-swatches" {{ block.shopify_attributes }}>
                      <div class="color-swatches__header form__label">{{ block.settings.option_name }}: {{ color }}</div>
                      <div class="color-swatches__swatches">
                        {%- comment -%} Add current product as the first swatch {%- endcomment -%}
                        {% render 'linked-product-swatch',
                          delimiter: block.settings.delimiter,
                          product: product,
                          style: block.settings.swatch_style,
                          hide_oos: block.settings.hide_for_sold_out_products,
                          border: block.settings.border,
                          size: block.settings.swatch_size,
                          current_product: true
                        %}
                        {%- for linked_product in linked_products.value -%}
                          {% render 'linked-product-swatch',
                            delimiter: block.settings.delimiter,
                            product: linked_product,
                            style: block.settings.swatch_style,
                            hide_oos: block.settings.hide_for_sold_out_products,
                            border: block.settings.border,
                            size: block.settings.swatch_size,
                            current_product: false
                          %}
                        {%- endfor -%}
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              {%- when 'personalization_text' -%}
                {% if block.settings.option_name != blank %}
                  <div class="personalization-text block field" {{ block.shopify_attributes }}>
                    {% if block.settings.long_text %}
                      {% assign type = 'textarea' %}
                    {% else %}
                      {% assign type = 'input' %}
                    {% endif %}
                    <{{ type }}
                      {% if block.settings.required_field %}
                        required
                      {% endif -%}
                      {% if block.settings.max_characters != 0 %}
                        maxlength="{{ block.settings.max_characters }}"
                      {% endif -%}
                      class="field__input{% if type == "textarea" %} text-area{% endif %}"
                      {% if type == 'input' %}
                        type="text"
                      {% else %}
                        rows="3"
                      {% endif %}
                      id="PersonalizationText-{{ block.id }}"
                      form="{{ product_form_id }}"
                      name="properties[{{ block.settings.option_name }}]"
                      placeholder="{{ block.settings.option_name }}"
                    ></{{ type }}>
                    <label class="field__label" for="PersonalizationText-{{ block.id }}">
                      {{ block.settings.option_name -}}
                      {%- if block.settings.required_field %}*{% endif -%}
                    </label>
                  </div>
                {% endif %}
              {%- when 'personalization_options' -%}
                {% if block.settings.option_name != blank and block.settings.options != blank %}
                  {% assign options = block.settings.options | split: ',' %}
                  {% assign number_of_options = options | size %}
                  <div class="block field personalization-options field--options" {{ block.shopify_attributes }}>
                    <label for="PersonalizationOptions-{{ block.id }}">
                      {{ block.settings.option_name }}
                      {% if block.settings.required_field -%}
                        {%- unless block.settings.option_type == 'multiselect' and number_of_options > 1 -%}
                          *
                        {%- endunless -%}
                      {%- endif -%}
                    </label>
                    {% if block.settings.option_type == 'buttons' %}
                      <div class="field--radio-options">
                        {% for option in options %}
                          {% assign option_formatted = option | strip %}
                          <div class="field--radio-option">
                            <label for="{{ block.id }}-{{ option_formatted | handleize }}">
                              <input
                                {% if block.settings.required_field %}
                                  required
                                {% endif -%}
                                type="radio"
                                name="properties[{{ block.settings.option_name }}"
                                form="{{ product_form_id }}"
                                id="{{ block.id }}-{{ option_formatted | handleize }}"
                                value="{{ option_formatted }}"
                              >
                              <span>{{ option_formatted }}</span>
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    {% elsif block.settings.option_type == 'dropdown' %}
                      <div class="field--select-container select">
                        <select
                          {% if block.settings.required_field %}
                            required
                          {% endif -%}
                          id="PersonalizationOptions-{{ block.id }}"
                          name="properties[{{ block.settings.option_name }}]"
                          form="{{ product_form_id }}"
                          class="field__input"
                        >
                          {% for option in options %}
                            <option>{{ option | strip }}</option>
                          {% endfor %}
                        </select>
                        {% render 'icons-main', icon: 'caret' %}
                      </div>
                    {% elsif block.settings.option_type == 'multiselect' %}
                      <div class="field field--checkbox">
                        {% liquid
                          assign required = block.settings.required_field
                          if number_of_options > 1
                            assign required = false
                          endif
                        %}
                        {% for option in options %}
                          {% assign option_formatted = option | strip %}
                          <div class="field--multiselect-option">
                            <input
                              {% if required %}
                                required
                              {% endif -%}
                              id="PersonalizationOptions-{{ option_formatted | handleize }}"
                              type="checkbox"
                              value="true"
                              form="{{ product_form_id }}"
                              name="properties[{{ block.settings.text }}]"
                            >
                            <label for="PersonalizationOptions-{{ option_formatted | handleize }}">
                              {{ option_formatted }}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- when 'button' -%}
                {%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
                  <div class="main-product__button block" {{ block.shopify_attributes }}>
                    <a href="{{ block.settings.button_link }}" class="button--full-width button--styled {{ block.settings.button_style }}{% unless block.settings.button_style == "link" %} button{% endunless %}">
                      {{ block.settings.button_text }}
                    </a>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function initializeStickyContainer() {
    const stickyHeader = document.querySelector('sticky-header');
    if (stickyHeader) {
      const containers = document.querySelectorAll('.section-{{ section.id }} .main-product__content-sticky');
      containers.forEach(container => {
        const topProperty = `calc(${stickyHeader.offsetHeight}px + 1rem)`;
        container.style.setProperty('top', topProperty, 'important');
      });
    }
  }

  function isIE() {
    const ua = window.navigator.userAgent;
    const msie = ua.indexOf('MSIE ');
    const trident = ua.indexOf('Trident/');

    return msie > 0 || trident > 0;
  }

  function addIESupport() {
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher =
      document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
      document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector(
      '.product-form__noscript-wrapper-{{ section.id }}'
    ).textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  }

  function initializeFeaturedProduct() {
    initializeStickyContainer();

    if (isIE()) {
      addIESupport();
    }
  }

  document.addEventListener('DOMContentLoaded', initializeFeaturedProduct);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:load', initializeFeaturedProduct);
  }
</script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | image_url: width: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>
