{% comment %}
    Renders the share icons

    Accepts:
    - current object: {Object} Current Liquid object

    Usage:
    {% render 'share-icons', object: product %}
{% endcomment %}

{%- liquid
  assign total_show_icons = 0

  if settings.share_facebook
    assign total_show_icons = total_show_icons | plus: 1
  endif

  if settings.share_x
    assign total_show_icons = total_show_icons | plus: 1
  endif

  if settings.share_pinterest
    assign total_show_icons = total_show_icons | plus: 1
    assign image_link = object.image
    if image_link == blank
        assign image_link = object.featured_media
    endif 
    if image_link == blank
        assign image_link = settings.share_image
    endif
    
    assign image_link = image_link | image_url: width: 1024
  endif

  if settings.share_linkedin 
    assign total_show_icons = total_show_icons | plus: 1
  endif
  
-%}

{% if total_show_icons > 0 %}
    <ul class="share-icons list-unstyled list-social" role="list">
        {% if settings.share_facebook %}
            <li class="list-social__item">
                <a href="https://www.facebook.com/sharer.php?u={{ shop.secure_url }}{{ object.url }}" class="link list-social__link" target="_blank">
                    {%- render 'icons-sm', icon: 'facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
            </li>
        {% endif %}
        {% if settings.share_x %}
            <li class="list-social__item">
                <a href="https://twitter.com/intent/tweet?text={{ object.title }}&url={{ shop.secure_url }}{{ object.url }}" class="link list-social__link" target="_blank">
                    {% render 'icons-sm', icon: 'x' %}
                    <span class="visually-hidden">{{ 'general.social.links.x' | t }}</span>
                </a>
            </li>
        {% endif %}
        {% if settings.share_pinterest %}
            <li class="list-social__item">
                <a href="http://pinterest.com/pin/create/button/?url={{ shop.secure_url }}{{ object.url }}&description={{ object.title }}&media={{ image_link }}" class="link list-social__link" target="_blank">
                    {% render 'icons-sm', icon: 'pinterest' %}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
            </li>
        {% endif %}
        {% if settings.share_linkedin %}
            <li class="list-social__item">
                <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ shop.secure_url }}{{ object.url }}" class="link list-social__link" target="_blank">
                    {% render 'icons-sm', icon: 'linkedin' %}
                    <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
