<ul class="list-social list-unstyled" role="list">
{%- if settings.social_x_link != blank -%}
    <li class="list-social__item">
    <a href="{{ settings.social_x_link }}" class="link list-social__link" target="_blank">
        {% render 'icons-sm', icon: "x" %}
        <span class="visually-hidden">{{ 'general.social.links.x' | t }}</span>
    </a>
    </li>
{%- endif -%}
{%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
    <a href="{{ settings.social_facebook_link }}" class="link list-social__link" target="_blank">
        {% render 'icons-sm', icon: "facebook" %}
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
    </a>
    </li>
{%- endif -%}
{%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
    <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" target="_blank">
        {% render 'icons-sm', icon: "pinterest" %}
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
    </a>
    </li>
{%- endif -%}
{%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
    <a href="{{ settings.social_instagram_link }}" class="link list-social__link" target="_blank">
        {% render 'icons-sm', icon: "instagram" %}
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
    </a>
    </li>
{%- endif -%}
{%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
    <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" target="_blank">
        {% render 'icons-sm', icon: "tiktok" %}
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
    </a>
    </li>
{%- endif -%}
{%- if settings.social_linkedin_link != blank -%}
    <li class="list-social__item">
    <a href="{{ settings.social_linkedin_link }}" class="link list-social__link" target="_blank">
        {% render 'icons-sm', icon: "linkedin" %}
        <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
    </a>
    </li>
{%- endif -%}
{%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
    <a href="{{ settings.social_youtube_link }}" class="link list-social__link" target="_blank">
        {% render 'icons-sm', icon: "youtube" %}
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
    </a>
    </li>
{%- endif -%}
</ul>