{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer register bg-default color-{{ settings.default_color_scheme }}">
  <svg style="display: none">
    <symbol id="icon-cross" viewBox="0 0 48 48">
      {% if settings.icon_style == "outline" %}
        <g fill="currentColor"><path fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-linejoin="miter" d="M42 36l-12-12 12-12-6-6-12 12-12-12-6 6 12 12-12 12 6 6 12-12 12 12z"></path></g>
      {% elsif settings.icon_style == "drawn" %}
        <path d="M23.0516 28.1544C19.3987 31.4763 15.8264 34.6939 12.2899 37.9516C10.2411 39.8388 8.26572 41.8079 6.22172 43.7002C5.67731 44.2171 5.05173 44.6373 4.37078 44.9434C4.03499 45.0865 3.30987 44.9434 3.1445 44.681C2.92571 44.3328 2.9904 43.7148 3.10908 43.2604C3.19541 42.929 3.54695 42.6547 3.81216 42.3887C8.85559 37.3446 13.9013 32.3037 18.9493 27.266C19.5157 26.701 20.0984 26.1532 20.7491 25.5258C18.5431 23.0424 16.3337 20.646 14.2245 18.1606C10.8581 14.1921 7.55933 10.1646 4.23263 6.16169C4.1117 6.01622 4.00768 5.85699 3.88562 5.71151C3.30347 5.01249 2.89305 4.25906 3.55592 3.41112C4.05229 2.77623 5.23891 2.87106 6.06517 3.73475C8.12295 5.8851 10.1275 8.08756 12.1152 10.3069C15.7448 14.3571 19.3461 18.4335 22.9627 22.4957C23.1176 22.6435 23.2822 22.7802 23.4554 22.9049C26.252 20.1898 29.0176 17.4836 31.8063 14.8006C35.0405 11.6906 38.286 8.5929 41.5429 5.50736C42.7646 4.34757 43.7441 4.13852 44.4939 4.81521C45.2709 5.51624 45.1986 6.68745 43.9595 7.94319C40.6094 11.3387 37.1784 14.6517 33.7508 17.9684C31.1395 20.4959 28.4866 22.9799 25.7075 25.62C27.9658 27.9925 30.1257 30.3574 32.3902 32.6128C34.5653 34.7792 36.8618 36.8199 39.0796 38.9416C39.9467 39.7401 40.7586 40.5984 41.5097 41.5106C42.1154 42.2761 42.2049 43.2263 41.4602 43.9811C40.7265 44.7257 39.8769 44.4625 39.169 43.899C37.8151 42.877 36.5171 41.7802 35.2812 40.6134C31.4978 36.8496 27.7811 33.0169 24.0402 29.209C23.7443 28.9083 23.4616 28.5928 23.0516 28.1544Z" fill="currentColor" stroke="currentColor"/>
      {% else %} 
        <g fill="currentColor">
          <path d="M36.728,8.443l-12.728,12.729L11.272,8.443c-.391-.391-1.024-.391-1.414,0l-1.414,1.414c-.391,.391-.391,1.024,0,1.414l12.728,12.729-12.728,12.729c-.39,.391-.39,1.024,0,1.414l1.414,1.414c.391,.391,1.024,.391,1.414,0l12.728-12.729,12.728,12.729c.391,.391,1.024,.391,1.414,0l1.414-1.414c.391-.391,.391-1.024,0-1.414l-12.728-12.729,12.728-12.729c.39-.391,.39-1.024,0-1.414l-1.414-1.414c-.391-.391-1.024-.391-1.414,0Z" stroke="currentColor" fill="currentColor"/>
        </g>
      {% endif %}
    </symbol>
  </svg>
  <h1>
    {{ 'customer.register.title' | t }}
  </h1>
  {%- form 'create_customer', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
      <h2 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-cross" />
        </svg>
        {{ 'templates.contact.form.error_heading' | t }}
      </h2>
      <ul> 
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#RegisterForm-{{ field }}" class="link">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <div class="field">      
      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
      >
      <label for="RegisterForm-FirstName">
        {{ 'customer.register.first_name' | t }}
      </label>
    </div>
    <div class="field">
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
      >
      <label for="RegisterForm-LastName">
        {{ 'customer.register.last_name' | t }}
      </label>
    </div>
    <div class="field">      
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        class="field__input"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="{{ 'customer.register.email' | t }}"
      >
      <label for="RegisterForm-email">
        {{ 'customer.register.email' | t }}
      </label>
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-cross" />
        </svg>
        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
    {%- endif -%}
    <div class="field">     
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        class="field__input"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
      >
      <label for="RegisterForm-password">
        {{ 'customer.register.password' | t }}
      </label>
    </div>
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-cross" />
        </svg>
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
    {%- endif -%}
    <button class="button">
      {{ 'customer.register.submit' | t }}
    </button>
  {%- endform -%}
</div>
