<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {% if settings.header_font != settings.body_font %}
        {{ settings.header_font | font_face: font_display: 'swap' }}
      {% endif %}
      {% if settings.button_font != settings.body_font and settings.button_font != settings.header_font %}
        {{ settings.button_font | font_face: font_display: 'swap' }}
      {% endif %}

      {% for scheme in settings.color_schemes %}
        {% if scheme == settings.default_color_scheme %}
          :root,
        {% endif %}
        .color-{{ scheme.id }} {
          --color-background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
          --color-background-rgb: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
          --color-text: rgb({{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }});
          --color-text-rgb: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
          --color-accent: rgb({{ scheme.settings.accent.red }},{{ scheme.settings.accent.green }},{{ scheme.settings.accent.blue }});
          --color-accent-rgb: {{ scheme.settings.accent.red }},{{ scheme.settings.accent.green }},{{ scheme.settings.accent.blue }};
          --color-accent-text: rgb({{ scheme.settings.accent_text.red }},{{ scheme.settings.accent_text.green }},{{ scheme.settings.accent_text.blue }});
          --color-accent-text-rgb: {{ scheme.settings.accent_text.red }},{{ scheme.settings.accent_text.green }},{{ scheme.settings.accent_text.blue }};
          --color-contrast: rgb({{ scheme.settings.contrast.red }},{{ scheme.settings.contrast.green }},{{ scheme.settings.contrast.blue }});
          --color-contrast-rgb: {{ scheme.settings.contrast.red }},{{ scheme.settings.contrast.green }},{{ scheme.settings.contrast.blue }};
          --color-contrast-text: rgb({{ scheme.settings.contrast_text.red }},{{ scheme.settings.contrast_text.green }},{{ scheme.settings.contrast_text.blue }});
          --color-contrast-text-rgb: {{ scheme.settings.contrast_text.red }},{{ scheme.settings.contrast_text.green }},{{ scheme.settings.contrast_text.blue }};
        }

        .shopify-section:has(.section-standard.color-{{ scheme.id }}:not(.no-color-scheme-conflict)) + .shopify-section .section-outer:not(.has-divider) .section-standard.color-{{ scheme.id }}:not(.no-color-scheme-conflict) {
          padding-top: 0;
        }

        .shopify-section:has(.section-standard.color-{{ scheme.id }}:not(.no-color-scheme-conflict)):has(+ .shopify-section .section-standard.color-{{ scheme.id }}:not(.no-color-scheme-conflict)) .section-outer:not(.has-divider) .section-standard {
          padding-bottom: 0;
        }
        
        .shopify-section:has(.section-standard.color-{{ scheme.id }}:not(.no-color-scheme-conflict)) + .shopify-section .section-outer:not(.has-divider) .section-standard.color-{{ scheme.id }}:not(.no-color-scheme-conflict) .contained-section {
          padding-top: 0.1rem;
        }

        .shopify-section:has(.section-standard.color-{{ scheme.id }}:not(.no-color-scheme-conflict)):has(+ .shopify-section .section-standard.color-{{ scheme.id }}:not(.no-color-scheme-conflict)) .section-outer .section-standard .contained-section {
          padding-bottom: 0.1rem;
        }
      {% endfor %}

      :root,
      :before {

        --font-header-family: {{ settings.header_font.family }}, {{ settings.header_font.fallback_families }};
        --font-header-style: {{ settings.header_font.style }};
        --font-header-weight: {{ settings.header_font.weight }};
        --font-header-scale: {{ settings.header_scale | divided_by: 100.0 }};
        --font-header-line-height: {{ settings.header_line_height | divided_by: 100.0 | times: 1.2 }};
        --font-header-letter-spacing: {% if settings.header_letter_spacing == 0 %}normal{% else %}{{ settings.header_letter_spacing }}px{% endif %};
        --font-header-text-transform: {% if settings.header_capitalize %}uppercase{% else %}none{% endif %};
        
        --font-body-family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
        --font-body-style: {{ settings.body_font.style }};
        --font-body-weight: {{ settings.body_font.weight }};
        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-body-line-height: {{ settings.body_line_height | divided_by: 100.0 | times: 1.2 }};
        --font-body-letter-spacing: {% if settings.body_letter_spacing == 0 %}normal{% else %}{{ settings.body_letter_spacing }}px{% endif %};

        --font-button-family: {{ settings.button_font.family }}, {{ settings.button_font.fallback_families }};
        --font-button-style: {{ settings.button_font.style }};
        --font-button-weight: {{ settings.button_font.weight }};
        --font-button-scale: {{ settings.button_scale | divided_by: 100.0 }};
        --font-button-letter-spacing: {% if settings.button_letter_spacing == 0 %}normal{% else %}{{ settings.button_letter_spacing }}px{% endif %};
        --font-button-text-transform: {% if settings.button_capitalize %}uppercase{% else %}none{% endif %};

        --divider-style: url("divider-{{ settings.divider_style }}{% if settings.uniform_divider %}-uniform{% endif %}.svg");
        --divider-height: {{ settings.divider_height }}rem;
        --text-alignment: center;

        --corner-radius-button: {{ settings.button_corner_radius }}px;
        --corner-radius-field: {{ settings.field_corner_radius }}px;
        --corner-radius-image: {{ settings.image_corner_radius }}px;

        --line-width-divider: {{ settings.divider_width }}px;
        --line-width-button: {{ settings.button_outline_width }}px;
        --line-width-field: {{ settings.field_outline_width }}px;
        --line-width-background-shape: {{ settings.background_shape_width }}px;
        --line-width-icon: {{ settings.icon_width }}px;
      }

      {% if settings.apply_divider_to_buttons %}
        {% if settings.divider_style == "waves" %}
          .button--styled:not(.outline):not(.link) {
            --mask: radial-gradient(24.60px at 50% 34.50px,#000 99%,#0000 101%) calc(50% - 30px) 0/60px 51% repeat-x, radial-gradient(24.60px at 50% -19.5px,#0000 99%,#000 101%) 50% 15px/60px calc(51% - 15px) repeat-x, radial-gradient(24.60px at 50% calc(100% - 34.50px),#000 99%,#0000 101%) 50% 100%/60px 51% repeat-x, radial-gradient(24.60px at 50% calc(100% + 19.50px),#0000 99%,#000 101%) calc(50% - 30px) calc(100% - 15px)/60px calc(51% - 15px) repeat-x;
            -webkit-mask: var(--mask);
            mask: var(--mask);
            padding-top: {{ settings.button_scale | divided_by: 100.0 | times: 2.8 }}rem !important;
            padding-bottom: {{ settings.button_scale | divided_by: 100.0 | times: 2.8 }}rem !important;
            margin-top: -0.8rem;
            border-radius: 0 !important; /* overwrite user defined border radius */
          }
        {% elsif settings.divider_style == "spikes" %}
          .button--styled:not(.outline):not(.link) {
            --mask: conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/25.00px 51% repeat-x, conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/25.00px 51% repeat-x;
            -webkit-mask: var(--mask);
            mask: var(--mask);
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
            margin-top: 0;
            border-radius: 0 !important; /* overwrite user defined border radius */
          }
        {% elsif settings.divider_style == "blocks" %}
          .button--styled:not(.outline):not(.link) {
            outline-style: dashed;
            outline-width: 10px;
            margin: 10px;
            margin-top: 15px;
            margin-bottom: 20px;
            border-radius: 0 !important; /* overwrite user defined border radius */
          }
          #cart-notification-form .button--styled {
            width: calc(100% - 20px);
          }
        {% endif %}
      {% endif %}

      .field__input, 
      .select__select, 
      .customer .field input,
      .customer select,
      .customer .select,
      .customer .field textarea {
        {% if settings.field_style == "solid" %}
          background: var(--color-contrast);
          color: var(--color-contrast-text);
          border: none;
        {% elsif settings.field_style == "outline" %}
          border: 1px solid var(--color-contrast);
          background: none;
        {% endif %}
      }

      .field__label,
      .customer .field label,
      .newsletter-form__button,
      .newsletter-form__field-wrapper .field__input,
      .field--select-container {
        {% if settings.field_style == "solid" %}
          color: var(--color-contrast-text);
        {% elsif settings.field_style == "outline" %}
          color: var(--color-text);
        {% endif %}
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: var(--font-body-letter-spacing);
        line-height: var(--font-body-line-height);
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
      @media screen and (max-width: 749px) {
        .grid {
          grid-template-columns: repeat({{ settings.columns_mobile }}, 1fr) !important;
        }
      }
      
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'template-password.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'sections.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
  </body>
</html>
