{%- liquid
  assign show_top_divider = section.settings.show_top_divider
  assign block_count = section.blocks | size

-%}
{%- if block_count > 0 -%}
  {%- style -%}
    #section-{{ section.id }} .section-banner {
      {% if section.settings.image_dt != blank %}
        background-image: url({{ section.settings.image_dt.src | image_url: width: 2000 }});
      {% endif %}
      justify-content: {{ section.settings.horizontal_alignment_dt }};
      align-items: {{ section.settings.vertical_alignment_dt }};
      min-height: {{ section.settings.height_dt }}vh;
      background-position: {{ section.settings.image_dt.presentation.focal_point }};
    }
    #section-{{ section.id }} .banner-content {
      text-align: {{ section.settings.horizontal_alignment_dt }};
    }
    #section-{{ section.id }} .section-banner .countdown {
      justify-content: {{ section.settings.horizontal_alignment_dt }};
    }
    {% if section.settings.horizontal_alignment != "center" %}
      #section-{{ section.id }} .section-banner .block {
        margin-{{ section.settings.horizontal_alignment_dt }}: 0;
      }
      {% if section.settings.horizontal_alignment == "right" %}
        #section-{{ section.id }} .section-banner .block.icon-with-text {
          flex-direction: row-reverse;
        }
        #section-{{ section.id }} .section-banner .block.icon-with-text .block-icon-with-text__content {
          text-align: right;
        }
        #section-{{ section.id }} .section-banner .block.accordion summary {
          flex-direction: row-reverse;
        }
        #section-{{ section.id }} .section-banner .block.accordion summary .icon-caret {
          transform: rotate(180deg);
          left: -1rem;
          right: auto;
        }
        #section-{{ section.id }} .section-banner .block.accordion .accordion__content {
          text-align: right;
        }
      {% endif %}
    {% endif %}
    {% if section.settings.overlay_dt != blank %}
      #section-{{ section.id }} .section-banner::before {
        background: {{ section.settings.overlay_dt }};
      }
    {% endif %}
    @media screen and (max-width: 749px) {
      #section-{{ section.id }} .section-banner {
        {% if section.settings.image_mob != blank %}
          background-image: url({{ section.settings.image_mob.src | image_url: width: 750 }});
        {% endif %}
        background-position: {{ section.settings.image_mob.presentation.focal_point }};
        justify-content: {{ section.settings.horizontal_alignment_mob }};
        align-items: {{ section.settings.vertical_alignment_mob }};
        min-height: {{ section.settings.height_mob }}vh;
      }
      #section-{{ section.id }} .banner-content {
        text-align: {{ section.settings.horizontal_alignment_mob }};
      }
      #section-{{ section.id }} .section-banner .countdown {
        justify-content: {{ section.settings.horizontal_alignment_mob }};
      }
      {% if section.settings.horizontal_alignment_mob != "center" %}
        #section-{{ section.id }} .section-banner .block {
          margin-{{ section.settings.horizontal_alignment_mob }}: 0;
        }
        {% if section.settings.horizontal_alignment_mob == "right" %}
          #section-{{ section.id }} .section-banner .block.icon-with-text {
            flex-direction: row-reverse;
          }
          #section-{{ section.id }} .section-banner .block.icon-with-text .block-icon-with-text__content {
            text-align: right;
          }
          #section-{{ section.id }} .section-banner .block.accordion summary {
            flex-direction: row-reverse;
          }
          #section-{{ section.id }} .section-banner .block.accordion summary .icon-caret {
            transform: rotate(180deg);
            left: -1rem;
            right: auto;
          }
          #section-{{ section.id }} .section-banner .block.accordion .accordion__content {
            text-align: right;
          }
        {% endif %}
      {% endif %}
      {% if section.settings.overlay_mob != blank %}
        #section-{{ section.id }} .section-banner::before {
          background: {{ section.settings.overlay_mob }};
        }
      {% endif %}
    }
  {%- endstyle -%}

  <section id="section-{{ section.id }}">
    {%- if show_top_divider -%}
      <div class="top-divider color-{{ section.settings.divider_color_scheme }}"></div>
    {%- endif -%}
    <div class="section-banner bg-default color-{{ section.settings.color_scheme }}{% if show_top_divider %} has-divider{% endif %}">
      <div class="banner-content contained-inner-section">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when "header" -%}
              <{{ block.settings.header_tag }} {{ block.shopify_attributes }}>
                {{ collection.title | escape }}
              </{{ block.settings.header_tag }}>
            {%- when "description" -%}
              {%- if collection.description != blank -%}
                <div class="rte" {{ block.shopify_attributes }}>
                  {{ collection.description }}
                </div>
              {%- endif -%}
            {%- when "text" -%}
              {%- if block.settings.text != blank -%}
                <div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
              {%- endif -%}
            {%- when "button" -%}
              {%- if block.settings.button_link != blank and block.settings.button_text != blank -%}
                <a href="{{ block.settings.button_link }}" class="{{ background_color }} button--styled {{ block.settings.button_style }}{% unless block.settings.button_style == "link" %} button{% endunless %}" {{ block.shopify_attributes }}>
                  {{ block.settings.button_text }}
                </a>
              {%- endif -%}
            {%- when 'countdown' -%}
              <div class="block countdown" {{ block.shopify_attributes }}>
                {% render 'block-countdown',
                  end_date: block.settings.end_date,
                  end_time: block.settings.end_time,
                  show_after: block.settings.show_after,
                  after_message: block.settings.after_message
                %}
              </div>
            {%- when 'collapsible-row' -%}
              {% assign custom_id = section.id | append: "-" | append: block.id %}
              <div class="block accordion {% if block.settings.contain_width %} block--contained{% endif %}" {{ block.shopify_attributes }}>
                {% render 'block-accordion',
                    heading: block.settings.heading,
                    row_content: block.settings.row_content,
                    page_content: block.settings.page.content,
                    open_tab: block.settings.open_tab,
                    id: custom_id
                %}
              </div>
            {%- when 'icon-with-text' -%}
              <div class="block icon-with-text{% if block.settings.contain_width %} block--contained{% endif %}" {{ block.shopify_attributes }}>
                {% render 'block-icon-with-text',
                  icon: block.settings.icon,
                  header: block.settings.header,
                  text: block.settings.text
                %}
              </div>
            {%- when 'divider' -%}
              <hr class="block border-{{ block.settings.color }}" {{ block.shopify_attributes }}>
            {% when 'custom_liquid' %}
              {% if block.settings.custom_liquid != blank %}
                <div class="block">
                  {{ block.settings.custom_liquid }}
                </div>
              {% endif %}
            {% when '@app' %}
              {% render block %}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-collection-header.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_top_divider",
      "label": "t:sections.all.show_top_divider.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "divider_color_scheme",
      "default": "scheme_1",
      "label": "t:sections.all.top_divider_color_scheme.label",
      "info": "t:sections.all.top_divider_color_scheme.info",
      "visible_if": "{{ section.settings.show_top_divider }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "image_dt",
      "label": "t:sections.banner.settings.image_dt.label",
      "info": "t:sections.banner.settings.image_dt.info"
    },
    {
      "type": "color_background",
      "id": "overlay_dt",
      "label": "t:sections.banner.settings.overlay_dt.label"
    },
    {
      "type": "range",
      "id": "height_dt",
      "label": "t:sections.banner.settings.height_dt.label",
      "info": "t:sections.banner.settings.height_dt.info",
      "min": 25,
      "max": 100,
      "unit": "%",
      "default": 50
    },
    {
      "type": "select",
      "id": "horizontal_alignment_dt",
      "label": "t:sections.banner.settings.horizontal_alignment_dt.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.banner.settings.horizontal_alignment_dt.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.banner.settings.horizontal_alignment_dt.middle.label"
        },
        {
          "value": "right",
          "label": "t:sections.banner.settings.horizontal_alignment_dt.right.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_alignment_dt",
      "label": "t:sections.banner.settings.vertical_alignment_dt.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.banner.settings.vertical_alignment_dt.top.label"
        },
        {
          "value": "center",
          "label": "t:sections.banner.settings.vertical_alignment_dt.middle.label"
        },
        {
          "value": "end",
          "label": "t:sections.banner.settings.vertical_alignment_dt.bottom.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "image_picker",
      "id": "image_mob",
      "label": "t:sections.banner.settings.image_mob.label",
      "info": "t:sections.banner.settings.image_mob.info"
    },
    {
      "type": "color_background",
      "id": "overlay_mob",
      "label": "t:sections.banner.settings.overlay_mob.label"
    },
    {
      "type": "range",
      "id": "height_mob",
      "label": "t:sections.banner.settings.height_mob.label",
      "info": "t:sections.banner.settings.height_mob.info",
      "min": 25,
      "max": 100,
      "unit": "%",
      "default": 50
    },
    {
      "type": "select",
      "id": "horizontal_alignment_mob",
      "label": "t:sections.banner.settings.horizontal_alignment_mob.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.banner.settings.horizontal_alignment_mob.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.banner.settings.horizontal_alignment_mob.middle.label"
        },
        {
          "value": "right",
          "label": "t:sections.banner.settings.horizontal_alignment_mob.right.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_alignment_mob",
      "label": "t:sections.banner.settings.vertical_alignment_mob.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.banner.settings.vertical_alignment_mob.top.label"
        },
        {
          "value": "center",
          "label": "t:sections.banner.settings.vertical_alignment_mob.middle.label"
        },
        {
          "value": "end",
          "label": "t:sections.banner.settings.vertical_alignment_mob.bottom.label"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "header",
      "name": "t:sections.banner.blocks.header.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "header_tag",
          "label": "t:sections.all.header.header_tag.label",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.header.header_tag.h1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.header.header_tag.h2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.header.header_tag.h3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.header.header_tag.h4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.header.header_tag.h5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.header.header_tag.h6.label"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-collection-header.blocks.description.label",
      "limit": 1
    },
    {
      "type": "text",
      "name": "t:sections.banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Add some more intro text.</p>",
          "label": "t:sections.banner.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.buttons.heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "Shop now",
          "label": "t:sections.all.buttons.button_text.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "default": "/collections",
          "label": "t:sections.all.buttons.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.buttons.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.solid.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.buttons.outline.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.buttons.link.label"
            }
          ],
          "default": "solid"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "t:sections.all.countdown.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "end_date",
          "default": "01/01/2026",
          "label": "t:sections.all.countdown.end_date.label",
          "info": "t:sections.all.countdown.end_date.info"
        },
        {
          "type": "text",
          "id": "end_time",
          "default": "23:45",
          "label": "t:sections.all.countdown.end_time.label",
          "info": "t:sections.all.countdown.end_time.info"
        },
        {
          "type": "checkbox",
          "id": "show_after",
          "label": "t:sections.all.countdown.show_after.label",
          "default": true
        },
        {
          "type": "textarea",
          "id": "after_message",
          "label": "t:sections.all.countdown.after_message.label",
          "info": "t:sections.all.countdown.after_message.info",
          "default": "Our sale has started! Browse the products below."
        }
      ]
    },
    {
      "type": "collapsible-row",
      "name": "t:sections.all.collapsible_row.name",
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Row header",
          "label": "t:sections.all.collapsible_row.heading.label"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "default": "<p>Row content</p>",
          "label": "t:sections.all.collapsible_row.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.all.collapsible_row.page.label"
        },
        {
          "type": "checkbox",
          "id": "open_tab",
          "label": "t:sections.all.collapsible_row.open_tab.label"
        },
        {
          "type": "checkbox",
          "id": "contain_width",
          "label": "t:sections.all.contain_width.label",
          "default": true
        }
      ]
    },
    {
      "type": "icon-with-text",
      "name": "t:sections.all.icon-with-text.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.all.icon-with-text.icon.label",
          "info": "t:sections.all.icon-with-text.icon.info"
        },
        {
          "type": "text",
          "id": "header",
          "default": "Product benefits",
          "label": "t:sections.all.header.label"
        },
        {
          "type": "textarea",
          "id": "text",
          "default": "This is a great place to highlight your USPs.",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "checkbox",
          "id": "contain_width",
          "label": "t:sections.all.contain_width.label",
          "default": true
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:sections.all.divider.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_in_front_of_accent_image",
          "label": "t:sections.all.accent_image.show_in_front_of_image.label",
          "default": true
        },
        {
          "type": "select",
          "id": "color",
          "label": "t:sections.all.divider.settings.color.label",
          "options": [
            {
              "value": "accent",
              "label": "t:sections.all.divider.settings.color.accent.label"
            },
            {
              "value": "contrast",
              "label": "t:sections.all.divider.settings.color.contrast.label"
            }
          ],
          "default": "contrast"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.all.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.all.custom_liquid.custom_liquid.label",
          "info": "t:sections.all.custom_liquid.custom_liquid.info"
        },
        {
          "type": "checkbox",
          "id": "show_in_front_of_accent_image",
          "label": "t:sections.all.accent_image.show_in_front_of_image.label",
          "default": true
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
