<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% style %}
  {% if section.settings.enable_filtering %}
    .desktop__sort {
      position: absolute;
    }
  {% endif %}
{% endstyle %}

{%- liquid
  assign show_top_divider = section.settings.show_top_divider
  assign grid_class = 'grid--' | append: section.settings.columns_desktop
-%}

{%- if show_top_divider -%}
  <div class="top-divider color-{{ section.settings.divider_color_scheme }}"></div>
{%- endif -%}

<div class="section-outer{% if show_top_divider %} has-divider{% endif %}">
  <div class="section-standard main--collection section-content bg-default color-{{ section.settings.color_scheme }}">
    <div class="contained-section{% if show_top_divider %} has-divider{% endif %}">
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        {{ 'facets.css' | asset_url | stylesheet_tag }}
        <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

        <div id="main-collection-filters" data-id="{{ section.id }}">
          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting
          %}
        </div>
      {%- endif -%}

      <div id="ProductGridContainer" class="main-collection--grid alignment">
        {%- paginate collection.products by section.settings.products_per_page -%}
          {%- if collection.products.size == 0 -%}
            <div class="collection collection--empty" id="product-grid" data-id="{{ section.id }}">
              <h2 class="center">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'link'
                }}
              </h2>
            </div>
            </div>
          {%- else -%}
            <div class="collection">
              <div class="loading-overlay"></div>
              <div id="product-grid" data-id="{{ section.id }}" class="main-collection-content grid {{ grid_class }}">
                {%- for product in collection.products -%}
                  <div class="main-collection--product">
                    {% render 'card-product', card_product: product %}
                  </div>
                {%- endfor -%}
              </div>
              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate, anchor: '' %}
              {%- endif -%}
          {%- endif -%}
        {%- endpaginate -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.all.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.custom_badges.content",
      "info": "t:sections.main-collection-product-grid.settings.custom_badges.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_styling"
    },
    {
      "type": "checkbox",
      "id": "show_top_divider",
      "label": "t:sections.all.show_top_divider.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "divider_color_scheme",
      "default": "scheme_1",
      "label": "t:sections.all.top_divider_color_scheme.label",
      "info": "t:sections.all.top_divider_color_scheme.info",
      "visible_if": "{{ section.settings.show_top_divider }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "t:sections.all.color_scheme.label"
    }
  ]
}
{% endschema %}
