{{ 'cart.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign show_top_divider = section.settings.show_top_divider
-%}

{%- if show_top_divider -%}
  <div class="top-divider color-{{ section.settings.divider_color_scheme }}"></div>
{%- endif -%}

<div class="section-outer{% if show_top_divider %} has-divider{% endif %}">
  <div class="section-standard main--cart section-content bg-default color-{{ section.settings.color_scheme }}">
    <div class="contained-section{% if show_top_divider %} has-divider{% endif %} main-cart{% if cart == empty %} is-empty{% endif %}">
      <cart-items>
        <div class="cart__title">
          <h1>{{ 'sections.cart.title' | t }}</h1>
          <a href="{{ routes.all_products_collection_url }}" class="link link-reduce">
            {{- 'general.continue_shopping' | t -}}
          </a>
        </div>
        <div class="cart__warnings">
          <h1>{{ 'sections.cart.empty' | t }}</h1>
          <a href="{{ routes.all_products_collection_url }}" class="button button--styled">
            {{ 'general.continue_shopping' | t }}
          </a>

          {%- if shop.customer_accounts_enabled and customer == null -%}
            <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
            <p class="cart__login-paragraph">
              {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
            </p>
          {%- endif -%}
        </div>

        <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
          <div class="cart__items" id="main-cart" data-id="{{ section.id }}">
            <div class="js-contents">
              {%- if cart != empty -%}
                <table class="cart-items">
                  <thead class="visually-hidden">
                    <tr>
                      <th class="caption-with-letter-spacing" colspan="2" scope="col">
                        {{ 'sections.cart.headings.product' | t }}
                      </th>
                      <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">
                        {{ 'sections.cart.headings.total' | t }}
                      </th>
                      <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">
                        {{ 'sections.cart.headings.total' | t }}
                      </th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    {%- for item in cart.items -%}
                      <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                        <td class="cart-item__media">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                            <div class="cart-item__image-container global-media-settings">
                              <img
                                src="{{ item.image | image_url: width: 300 }}"
                                class="cart-item__image"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="150"
                                height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                            </div>
                          {% endif %}
                        </td>

                        <td class="cart-item__details">
                          <a href="{{ item.url }}" class="cart-item__name h4 break link-reduce">
                            {{- item.product.title | escape -}}
                          </a>

                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                          {%- endif -%}

                          {% render 'price-cart', item: item, price_class: 'product-option' %}

                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <dl>
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option">
                                    <dt>{{ option.name }}:</dt>
                                    <dd>{{ option.value }}</dd>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a href="{{ property.last }}" class="link" target="_blank">
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}

                          <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                            {%- for discount in item.discounts -%}
                              <li class="discounts__discount">
                                {{ discount.title }}
                              </li>
                            {%- endfor -%}
                          </ul>

                          <div class="cart-item__quantity-wrapper">
                            <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>
                            <quantity-input class="quantity">
                              <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                                </span>
                                {% render 'icons-main', icon: 'minus' %}
                              </button>
                              <input
                                class="quantity__input"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                min="0"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                              <button class="quantity__button no-js-hidden" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                                </span>
                                {% render 'icons-main', icon: 'plus' %}
                              </button>
                            </quantity-input>
                          </div>
                          <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                            <small class="cart-item__error-text"></small>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              role="presentation"
                              viewBox="0 0 48 48"
                              class="icon icon-cross"
                            >
                              <g fill="currentColor"><path fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-linejoin="miter" d="M42 36l-12-12 12-12-6-6-12 12-12-12-6 6 12 12-12 12 6 6 12-12 12 12z"></path></g>
                            </svg>
                          </div>
                        </td>

                        <td class="cart-item__totals right medium-hide large-up-hide mobile">
                          <div class="loading-overlay hidden">
                            <div class="loading-overlay__spinner">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="spinner" role="presentation" aria-hidden="true" focusable="false">
                                  <g fill="currentColor">
                                    <circle cx="24" cy="5" r="5" fill="currentColor"></circle>
                                    <circle cx="37.435" cy="10.565" r="4.5" fill="currentColor"></circle>
                                    <circle cx="43" cy="24" r="4" fill="currentColor"></circle>
                                    <circle cx="37.435" cy="37.435" r="3.5" fill="currentColor"></circle>
                                    <circle cx="24" cy="43" r="3" fill="currentColor"></circle>
                                    <circle cx="10.565" cy="37.435" r="2.5" fill="currentColor"></circle>
                                    <circle cx="5" cy="24" r="2" fill="currentColor"></circle>
                                    <circle cx="10.565" cy="10.565" r="1.5" fill="currentColor"></circle>
                                  </g>
                              </svg>
                            </div>
                          </div>
                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <dl class="cart-item__discounted-prices">
                                <dt class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </dt>
                                <dd>
                                  <s class="cart-item__old-price price price--end">
                                    {{ item.original_line_price | money }}
                                  </s>
                                </dd>
                                <dt class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </dt>
                                <dd class="price price--end">
                                  {{ item.final_line_price | money }}
                                </dd>
                              </dl>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.variant.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden"
                                  >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                >
                                {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.variant.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.variant.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>

                          <div class="medium-hide large-hide cart__remove-button">
                            <cart-remove-button
                              id="Remove-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                              <a
                                href="{{ item.url_to_remove }}"
                                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                              >
                                {% render 'icons-main', icon: 'cross' %}
                              </a>
                            </cart-remove-button>
                          </div>
                        </td>

                        <td class="cart-item__totals right small-hide">
                          <div class="loading-overlay hidden">
                            <div class="loading-overlay__spinner">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="spinner" role="presentation" aria-hidden="true" focusable="false">
                                <g fill="currentColor">
                                  <circle cx="24" cy="5" r="5" fill="currentColor"></circle>
                                  <circle cx="37.435" cy="10.565" r="4.5" fill="currentColor"></circle>
                                  <circle cx="43" cy="24" r="4" fill="currentColor"></circle>
                                  <circle cx="37.435" cy="37.435" r="3.5" fill="currentColor"></circle>
                                  <circle cx="24" cy="43" r="3" fill="currentColor"></circle>
                                  <circle cx="10.565" cy="37.435" r="2.5" fill="currentColor"></circle>
                                  <circle cx="5" cy="24" r="2" fill="currentColor"></circle>
                                  <circle cx="10.565" cy="10.565" r="1.5" fill="currentColor"></circle>
                                </g>
                              </svg>
                            </div>
                          </div>

                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <dl class="cart-item__discounted-prices">
                                <dt class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </dt>
                                <dd>
                                  <s class="cart-item__old-price price price--end">
                                    {{ item.original_line_price | money }}
                                  </s>
                                </dd>
                                <dt class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </dt>
                                <dd class="price price--end">
                                  {{ item.final_line_price | money }}
                                </dd>
                              </dl>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.variant.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden"
                                  >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                >
                                {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.variant.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.variant.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </td>
                        <td class="small-hide">
                          <cart-remove-button
                            id="Remove-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}"
                          >
                            <a
                              href="{{ item.url_to_remove }}"
                              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                            >
                              {% render 'icons-main', icon: 'cross' %}
                            </a>
                          </cart-remove-button>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              {%- endif -%}
            </div>
          </div>

          <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
          <p
            class="visually-hidden"
            id="shopping-cart-line-item-status"
            aria-live="polite"
            aria-hidden="true"
            role="status"
          >
            {{ 'accessibility.loading' | t }}
          </p>
        </form>
      </cart-items>

      <div id="main-cart-footer" data-id="{{ section.id }}">
        <div class="cart__footer">
          <div class="cart__blocks bg-contrast">
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'subtotal' -%}
                  <div class="js-contents-footer" {{ block.shopify_attributes }}>
                    <div class="totals">
                      <h3 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                      <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                    </div>

                    <div>
                      {%- if cart.cart_level_discount_applications.size > 0 -%}
                        <ul
                          class="discounts list-unstyled"
                          role="list"
                          aria-label="{{ 'customer.order.discount' | t }}"
                        >
                          {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="discounts__discount discounts__discount--position">
                              {{ discount.title }}
                              (-{{ discount.total_allocated_amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>

                    <small class="tax-note caption-large rte">
                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{
                          'sections.cart.taxes_included_and_shipping_policy_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                      {%- elsif shop.shipping_policy.body != blank -%}
                        {{
                          'sections.cart.taxes_and_shipping_policy_at_checkout_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                      {%- endif -%}
                    </small>
                  </div>
                {%- when 'cart_notes' -%}
                  <details id="Details-{{ block.id }}-{{ section.id }}">
                    <summary id="Summary-{{ block.id }}-{{ section.id }}">
                      <h5>
                        {{ 'sections.cart.note' | t }}
                      </h5>
                      {% render 'icons-main', icon: 'caret' %}
                    </summary>
                    <div
                      class="accordion__content "
                      id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
                      role="region"
                      aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
                    >
                      <cart-note class="cart__note field" {{ block.shopify_attributes }}>
                        <label for="Cart-note" class="visually-hidden">{{ 'sections.cart.note' | t }}</label>
                        <textarea
                          class="text-area field__input border-accent"
                          name="note"
                          form="cart"
                          id="Cart-note"
                          placeholder="{{ 'sections.cart.note_placeholder' | t }}"
                        >{{ cart.note }}</textarea>
                      </cart-note>
                    </div>
                  </details>

                {%- when 'buttons' -%}
                  <div class="cart__ctas" {{ block.shopify_attributes }}>
                    <noscript>
                      <button type="submit" class="cart__update-button button" form="cart">
                        {{ 'sections.cart.update' | t }}
                      </button>
                    </noscript>

                    <button
                      type="submit"
                      id="checkout"
                      class="cart__checkout-button button solid button--styled"
                      name="checkout"
                      {% if cart == empty %}
                        disabled
                      {% endif %}
                      form="cart"
                    >
                      {{ 'sections.cart.checkout' | t }}
                    </button>
                  </div>

                  {%- if additional_checkout_buttons -%}
                    <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  {%- endif -%}
                {% when 'free_shipping_bar' %}
                  <div class="js-contents-footer-free-shipping-bar" {{ block.shopify_attributes }}>
                    <free-shipping-threshold
                      data-threshold="{{ block.settings.free_shipping_threshold | times: 100 }}"
                      data-cart-total="{{ cart.total_price }}"
                      data-free-shipping-reached="{{ 'sections.cart.free_shipping_bar.free_shipping_achieved' | t }}"
                    >
                      <template>
                        <style>
                          p {
                            text-align: center;
                          }
                          .free-shipping-bar__bar {
                            width: 100%;
                            height: 15px;
                            border: var(--line-width-field) solid var(--color-accent);
                            margin-bottom: 2rem;
                            border-radius: var(--corner-radius-field);
                          }
                          .free-shipping-bar__bar-inner {
                            background: var(--color-accent);
                            height: 100%;
                            border-radius: var(--corner-radius-field);
                          }
                          hr {
                            border: none;
                            border-top: 1px solid var(--color-accent);
                            margin-bottom: 2rem;
                          }
                        </style>
                        <p slot="text">
                          {{ 'sections.cart.free_shipping_bar.before_number' | t }}
                          <span slot="threshold-text"></span> {{ 'sections.cart.free_shipping_bar.after_number' | t }}
                        </p>
                        <hr>
                        <div class="free-shipping-bar__bar">
                          <div class="free-shipping-bar__bar-inner"></div>
                        </div>
                      </template>
                    </free-shipping-threshold>
                  </div>
                {%- when 'text' -%}
                  {%- if block.settings.text != blank -%}
                    <div class="block" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                  {%- endif -%}
                {%- when 'divider' -%}
                  <hr class="block border-{{ block.settings.color }}" {{ block.shopify_attributes }}>
                {% when 'custom_liquid' %}
                  <div {{ block.shopify_attributes }}>
                    {{ block.settings.custom_liquid }}
                  </div>
              {%- endcase -%}
            {% endfor %}
            <div id="cart-errors"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% javascript %}
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener(
        'change',
        debounce((event) => {
          const body = JSON.stringify({ note: event.target.value });
          fetch(`${routes.cart_update_url}`, { ...fetchConfig(), ...{ body } });
        }, 300)
      );
    }
  }

  customElements.define('cart-note', CartNote);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart.name",
  "class": "default",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "cart_notes",
      "name": "t:sections.main-cart.blocks.cart_notes.name",
      "limit": 1
    },
    {
      "type": "free_shipping_bar",
      "name": "t:sections.main-cart.blocks.free_shipping_bar.name",
      "limit": 1,
      "settings": [
        {
          "type": "number",
          "id": "free_shipping_threshold",
          "label": "t:sections.main-cart.blocks.free_shipping_bar.free_shipping_threshold.label",
          "info": "t:sections.main-cart.blocks.free_shipping_bar.free_shipping_threshold.info",
          "default": 150
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.all.text.label",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>All orders ship within 24 hours.</p>",
          "label": "t:sections.all.text.label"
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:sections.all.divider.name",
      "settings": [
        {
          "type": "select",
          "id": "color",
          "label": "t:sections.all.divider.settings.color.label",
          "options": [
            {
              "value": "accent",
              "label": "t:sections.all.divider.settings.color.accent.label"
            },
            {
              "value": "default",
              "label": "t:sections.all.divider.settings.color.default.label"
            }
          ],
          "default": "accent"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.all.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.all.custom_liquid.custom_liquid.label",
          "info": "t:sections.all.custom_liquid.custom_liquid.info"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_styling"
    },
    {
      "type": "checkbox",
      "id": "show_top_divider",
      "label": "t:sections.all.show_top_divider.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "divider_color_scheme",
      "default": "scheme_1",
      "label": "t:sections.all.top_divider_color_scheme.label",
      "info": "t:sections.all.top_divider_color_scheme.info",
      "visible_if": "{{ section.settings.show_top_divider }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "t:sections.all.color_scheme.label"
    }
  ]
}
{% endschema %}
