{%- liquid
  assign show_top_divider = section.settings.show_top_divider
-%}

{%- style -%}
  section#shopify-section-{{ section.id }} .section--collage-banner {
    min-height: {{ section.settings.height_dt }}vh;
    justify-content: {{ section.settings.horizontal_alignment_dt }};
    align-items: {{ section.settings.vertical_alignment_dt }};
  }

  section#shopify-section-{{ section.id }} .contained-inner-section {
    text-align: {{ section.settings.horizontal_alignment_dt }};
  }

  section#shopify-section-{{ section.id }} .two-buttons {
    justify-content: {{ section.settings.horizontal_alignment_dt }};
  }

  @media screen and (max-width: 749px) {
    section#shopify-section-{{ section.id }} .section--collage-banner {
      min-height: {{ section.settings.height_mob }}vh;
      justify-content: {{ section.settings.horizontal_alignment_mob }};
      align-items: {{ section.settings.vertical_alignment_mob }};
    }

    section#shopify-section-{{ section.id }} .contained-inner-section {
      text-align: {{ section.settings.horizontal_alignment_mob }};
    }

    section#shopify-section-{{ section.id }} .two-buttons {
      justify-content: {{ section.settings.horizontal_alignment_mob }};
    }
  }
  @media screen and (min-width: 750px) {
      #shopify-section-{{ section.id }} .contained-inner-section {
        width: {{ section.settings.content_width_dt }}%;
      }
    }
{%- endstyle -%}

{%- if show_top_divider -%}
  <div class="top-divider color-{{ section.settings.divider_color_scheme }}"></div>
{%- endif -%}

<div class="section-outer{% if show_top_divider %} has-divider{% endif %}">
  <div class="section-standard section--collage-banner section-content bg-default color-{{ section.settings.color_scheme }} no-color-scheme-conflict">
    <div class="contained-inner-section">
      {%- if section.settings.header != blank -%}
        <{{ section.settings.header_tag }} class="banner__block"{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_header_font_size }}px;"{% endif %}>
          {{ section.settings.header }}
        </{{ section.settings.header_tag }}>
        {%- if section.settings.text != blank -%}
          <div class="banner__block rte"{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_text_font_size }}px;"{% endif %}>{{ section.settings.text }}</div>
        {%- endif -%}
        <div class="banner__block two-buttons">
          {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
            <a
              href="{{ section.settings.button_link }}"
              class="button--styled {{ section.settings.button_style }}{% unless section.settings.button_style == "link" %} button{% endunless %}"
            >
              {{ section.settings.button_text }}
            </a>
          {%- endif -%}
          {%- if section.settings.button_two_link != blank and section.settings.button_two_text != blank -%}
            <a
              href="{{ section.settings.button_two_link }}"
              class="button--styled {{ section.settings.button_two_style }}{% unless section.settings.button_two_style == "link" %} button{% endunless %}"
            >
              {{ section.settings.button_two_text }}
            </a>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
    {% for block in section.blocks %}
      {% capture style %}
            {% if block.settings.image_size_dt != 0 %}
                {% assign width_dt = block.settings.image_size_dt | append: "%" %}
            {% else %}
                {% assign width_dt = block.settings.image.width | append: "px" %}
            {% endif %}
            {% if block.settings.image_size_mob != 0 %}
              {% assign width_mob = block.settings.image_size_mob | append: "%" %}
            {% else %}
                {% assign width_mob = block.settings.image.width | append: "px" %}
            {% endif %}
            {% case block.settings.image_ratio %}
                {% when "adapt"%}
                    {% assign aspect_ratio = "auto" %}
                {% when "square" %}
                    {% assign aspect_ratio = "1 / 1" %}
                {% when "portrait" %}
                    {% assign aspect_ratio = "2 / 3" %}
                {% when "landscape" %}
                    {% assign aspect_ratio = "3 / 2" %}
            {% endcase %}
            {% if block.settings.hide_on_mobile == true %}
                {% assign visibility = "hidden" %}
            {% else %}
              {% assign visibility = "visibile" %}
            {% endif %}
            --image-width-dt: {{ width_dt }};
            --image-width-mob: {{ width_mob }};
            --image-top-dt: {{ block.settings.vertical_alignment_dt }}%;
            --image-top-mob: {{ block.settings.vertical_alignment_mob }}%;
            --image-left-dt: {{ block.settings.horizontal_alignment_dt }}%;
            --image-left-mob: {{ block.settings.horizontal_alignment_mob }}%;
            --image-aspect-ratio: {{ aspect_ratio }};
            --image-hidden-on-mobile: {{ visibility }};
        {% endcapture %}
      <div class="collage-banner__image" style="{{ style }}">
        {% if block.settings.image != blank %}
          {% assign widths = '600, ' | append: block.settings.image.width %}
          {{
            block.settings.image
            | image_url: width: block.settings.image.width
            | image_tag: loading: 'lazy', widths: widths
          }}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collage-banner.name",
  "tag": "section",
  "class": "section section-collage-banner",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_content"
    },
    {
      "type": "text",
      "id": "header",
      "default": "Our favorites",
      "label": "t:sections.all.header.label"
    },
    {
      "type": "select",
      "id": "header_tag",
      "label": "t:sections.all.header.header_tag.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.header.header_tag.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.header.header_tag.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.header.header_tag.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.header.header_tag.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.header.header_tag.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.header.header_tag.h6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Share your brand story, an important announcement, or something else your customers need to know.</p>",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.collage-banner.settings.button_one.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Shop now",
      "label": "t:sections.all.buttons.button_text.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "default": "/collections",
      "label": "t:sections.all.buttons.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.buttons.style.label",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.all.buttons.solid.label"
        },
        {
          "value": "outline",
          "label": "t:sections.all.buttons.outline.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.buttons.link.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "header",
      "content": "t:sections.collage-banner.settings.button_two.content"
    },
    {
      "type": "text",
      "id": "button_two_text",
      "default": "Shop now",
      "label": "t:sections.all.buttons.button_text.label"
    },
    {
      "type": "url",
      "id": "button_two_link",
      "default": "/collections",
      "label": "t:sections.all.buttons.button_link.label"
    },
    {
      "type": "select",
      "id": "button_two_style",
      "label": "t:sections.all.buttons.style.label",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.all.buttons.solid.label"
        },
        {
          "value": "outline",
          "label": "t:sections.all.buttons.outline.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.buttons.link.label"
        }
      ],
      "default": "outline"
    },
    {
      "type": "range",
      "id": "height_dt",
      "label": "t:sections.collage-banner.settings.height_dt.label",
      "info": "t:sections.collage-banner.settings.height_dt.info",
      "min": 25,
      "max": 100,
      "unit": "%",
      "default": 70
    },
    {
      "type": "select",
      "id": "horizontal_alignment_dt",
      "label": "t:sections.collage-banner.settings.horizontal_alignment_dt.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collage-banner.settings.horizontal_alignment_dt.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.collage-banner.settings.horizontal_alignment_dt.options.middle"
        },
        {
          "value": "right",
          "label": "t:sections.collage-banner.settings.horizontal_alignment_dt.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_alignment_dt",
      "label": "t:sections.collage-banner.settings.vertical_alignment_dt.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.collage-banner.settings.vertical_alignment_dt.options.top"
        },
        {
          "value": "center",
          "label": "t:sections.collage-banner.settings.vertical_alignment_dt.options.middle"
        },
        {
          "value": "end",
          "label": "t:sections.collage-banner.settings.vertical_alignment_dt.options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "content_width_dt",
      "min": 30,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.collage-banner.settings.content_width_dt.label",
      "info": "t:sections.collage-banner.settings.content_width_dt.info",
      "default": 50
    },
    {
      "type": "range",
      "id": "height_mob",
      "label": "t:sections.collage-banner.settings.height_mob.label",
      "info": "t:sections.collage-banner.settings.height_mob.info",
      "min": 25,
      "max": 100,
      "unit": "%",
      "default": 90
    },
    {
      "type": "select",
      "id": "horizontal_alignment_mob",
      "label": "t:sections.collage-banner.settings.horizontal_alignment_mob.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collage-banner.settings.horizontal_alignment_mob.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.collage-banner.settings.horizontal_alignment_mob.options.middle"
        },
        {
          "value": "right",
          "label": "t:sections.collage-banner.settings.horizontal_alignment_mob.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_alignment_mob",
      "label": "t:sections.collage-banner.settings.vertical_alignment_mob.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.collage-banner.settings.vertical_alignment_mob.options.top"
        },
        {
          "value": "center",
          "label": "t:sections.collage-banner.settings.vertical_alignment_mob.options.middle"
        },
        {
          "value": "end",
          "label": "t:sections.collage-banner.settings.vertical_alignment_mob.options.bottom"
        }
      ],
      "default": "end"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_styling"
    },
    {
      "type": "checkbox",
      "id": "show_top_divider",
      "label": "t:sections.all.show_top_divider.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "divider_color_scheme",
      "default": "scheme-2",
      "label": "t:sections.all.top_divider_color_scheme.label",
      "info": "t:sections.all.top_divider_color_scheme.info",
      "visible_if": "{{ section.settings.show_top_divider }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header"
    },
    {
      "type": "checkbox",
      "id": "override_default_styles",
      "label": "t:sections.all.overrides.override_default_styles.label",
      "info": "t:sections.all.overrides.override_default_styles.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header_content.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_header_font_size",
      "min": -10,
      "max": 30,
      "step": 2,
      "default": 0,
      "label": "t:sections.all.overrides.override_header_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_text_font_size",
      "min": -6,
      "max": 20,
      "step": 2,
      "default": 0,
      "label": "t:sections.all.overrides.override_text_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage-banner.blocks.image.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.collage-banner.blocks.image.settings.image_ratio.options.adapt.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.collage-banner.blocks.image.settings.image_ratio.options.portrait.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.collage-banner.blocks.image.settings.image_ratio.options.landscape.label"
            },
            {
              "value": "square",
              "label": "t:sections.collage-banner.blocks.image.settings.image_ratio.options.square.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.collage-banner.blocks.image.settings.image_ratio.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.desktop.label"
        },
        {
          "type": "range",
          "id": "image_size_dt",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.collage-banner.blocks.image.settings.image_size_dt.label",
          "info": "t:sections.collage-banner.blocks.image.settings.image_size_dt.info",
          "default": 30
        },
        {
          "type": "range",
          "id": "horizontal_alignment_dt",
          "label": "t:sections.collage-banner.blocks.image.settings.horizontal_alignment_dt.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_alignment_dt",
          "label": "t:sections.collage-banner.blocks.image.settings.vertical_alignment_dt.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "header",
          "content": "t:sections.all.mobile.label"
        },
        {
          "type": "range",
          "id": "image_size_mob",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.collage-banner.blocks.image.settings.image_size_mob.label",
          "info": "t:sections.collage-banner.blocks.image.settings.image_size_mob.info",
          "default": 30
        },
        {
          "type": "range",
          "id": "horizontal_alignment_mob",
          "label": "t:sections.collage-banner.blocks.image.settings.horizontal_alignment_mob.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_alignment_mob",
          "label": "t:sections.collage-banner.blocks.image.settings.vertical_alignment_mob.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "checkbox",
          "id": "hide_on_mobile",
          "label": "t:sections.collage-banner.blocks.image.settings.hide_on_mobile.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collage-banner.presets.name",
      "category": "t:settings_schema.groups.banners",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "image_size_dt": 20,
            "vertical_alignment_dt": 0,
            "horizontal_alignment_dt": 0,
            "image_size_mob": 50,
            "vertical_alignment_mob": 0,
            "horizontal_alignment_mob": 0
          }
        },
        {
          "type": "image",
          "settings": {
            "image_size_dt": 30,
            "vertical_alignment_dt": 12,
            "horizontal_alignment_dt": 67,
            "image_size_mob": 40,
            "vertical_alignment_mob": 15,
            "horizontal_alignment_mob": 29
          }
        },
        {
          "type": "image",
          "settings": {
            "image_size_dt": 20,
            "vertical_alignment_dt": 80,
            "horizontal_alignment_dt": 21,
            "image_size_mob": 30,
            "vertical_alignment_mob": 13,
            "horizontal_alignment_mob": 73
          }
        }
      ]
    }
  ]
}
{% endschema %}
