{%- liquid
  assign show_top_divider = section.settings.show_top_divider

  assign number_of_features = section.blocks.size
  assign features_per_side = number_of_features | divided_by: 2 | minus: 1 
  if features_per_side < 0
    assign features_per_side = number_of_features
  endif

  -%}
  
{%- style -%}
  {% if section.settings.show_accent_image and section.settings.accent_image %}
    {% render 'styling-section',
      section_id: section.id,
      accent_image: section.settings.accent_image,
      accent_vertical_anchor: section.settings.accent_vertical_anchor,
      accent_horizontal_anchor: section.settings.accent_horizontal_anchor,
      accent_size: section.settings.accent_size,
      hide_accent_on_mobile: section.settings.hide_accent_on_mobile,
      accent_cover: section.settings.accent_cover
    %}
  {% endif %}
  {% if section.settings.show_background_shape %}
    {% render 'styling-background-shape',
      section_id: section.id,
      background_shape_top: section.settings.background_shape_top,
      background_shape_right: section.settings.background_shape_right,
      background_shape_bottom: section.settings.background_shape_bottom,
      background_shape_left: section.settings.background_shape_left,
    %}
  {% endif %}
{%- endstyle -%}

{%- if show_top_divider -%}
  <div class="top-divider color-{{ section.settings.divider_color_scheme }}"></div>
{%- endif -%}

<div class="section-outer{% if show_top_divider %} has-divider{% endif %}">
    <div class="section-standard section--product-features section-content bg-default color-{{ section.settings.color_scheme }}"{% if section.settings.override_default_styles %} style="--override-padding-top: {{ section.settings.override_space_above }}px; --override-padding-bottom: {{ section.settings.override_space_below }}px;"{% endif %}>
        <div class="contained-section alignment">
            <div class="section-intro">
                <{{ section.settings.header_tag }} class="in-front-of-accent-image"{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_header_font_size }}px;"{% endif %}>{{ section.settings.heading | escape }}</{{ section.settings.header_tag }}>
                {%- if section.settings.text != blank -%}
                  <div class="in-front-of-accent-image rte"{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_text_font_size }}px;"{% endif %}>{{ section.settings.text }}</div>
                {%- endif -%}
            </div>
            <div class="product-features__container grid grid--3">
                <div class="product-features__features-left">
                    {% for i in (0..features_per_side) %}
                        {% assign block_settings = section.blocks[i].settings %}
                        {% if block_settings.header != blank or block_settings.text != blank %}
                            <div class="product-features__feature{% if block_settings.show_in_front_of_accent_image %} in-front-of-accent-image{% endif %}" {{ section.blocks[i].shopify_attributes }}>
                                {% if block_settings.header != blank %}
                                    <h4{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_heading_font_size }}px;"{% endif %}>{{ block_settings.header | escape }}</h4>
                                {% endif %}
                                {% if block_settings.text != blank %}
                                  <div class="rte"{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_feature_text_font_size }}px;"{% endif %}>
                                    {{ block_settings.text }}
                                  </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="product-features__image in-front-of-accent-image {% if section.settings.show_background_shape %}bg-shape bg-shape--{{ section.settings.background_shape_color }} bg-shape--{{ section.settings.background_shape_style }}{% endif %}">
                    {% if section.settings.image != blank %}
                        {{ section.settings.image | image_url: width: 600 | image_tag:
                            loading: 'lazy',
                            alt: section.settings.image.alt
                        }}
                    {% else %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                </div>
                <div class="product-features__features-right">
                    {% for i in (1..number_of_features) %}
                        {% if i > features_per_side %}
                            {% assign block_settings = section.blocks[i].settings %}
                            {% if block_settings.header != blank or block_settings.text != blank %}
                                <div class="product-features__feature{% if block_settings.show_in_front_of_accent_image %} in-front-of-accent-image{% endif %}" {{ section.blocks[i].shopify_attributes }}>
                                    {% if block_settings.header != blank %}
                                        <h4{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_heading_font_size }}px;"{% endif %}>{{ block_settings.header | escape }}</h4>
                                    {% endif %}
                                    {% if block_settings.text != blank %}
                                        <div class="rte"{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_feature_text_font_size }}px;"{% endif %}>{{ block_settings.text }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "t:sections.product-features.name",
  "tag": "section",
  "class": "section section-product-features",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Introduce your brand",
      "label": "t:sections.all.header.label"
    },
    {
      "type": "select",
      "id": "header_tag",
      "label": "t:sections.all.header.header_tag.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.header.header_tag.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.header.header_tag.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.header.header_tag.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.header.header_tag.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.header.header_tag.h5.label"
        },
        {
        "value": "h6",
        "label": "t:sections.all.header.header_tag.h6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.background_shape.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_background_shape",
      "label": "t:sections.all.background_shape.show_background_shape.label",
      "default": true
    },
    {
      "type": "select",
      "id": "background_shape_color",
      "label": "t:sections.all.colors.color.label",
      "options": [
        {
          "value": "accent",
          "label": "t:sections.all.colors.accent.label"
        },
        {
          "value": "contrast",
          "label": "t:sections.all.colors.contrast.label"
        }
      ],
      "default": "contrast",
      "visible_if": "{{ section.settings.show_background_shape }}"
    },
    {
      "type": "select",
      "id": "background_shape_style",
      "label": "t:sections.all.background_shape.background_shape_style.label",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.all.background_shape.background_shape_style.solid.label"
        },
        {
          "value": "outline",
          "label": "t:sections.all.background_shape.background_shape_style.outline.label"
        }
      ],
      "default": "outline",
      "visible_if": "{{ section.settings.show_background_shape }}"
    },
    {
      "type": "range",
      "id": "background_shape_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.background_shape.background_shape_top.label",
      "default": 30,
      "visible_if": "{{ section.settings.show_background_shape }}"
    },
    {
      "type": "range",
      "id": "background_shape_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.background_shape.background_shape_right.label",
      "default": 50,
      "visible_if": "{{ section.settings.show_background_shape }}"
    },
    {
      "type": "range",
      "id": "background_shape_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.background_shape.background_shape_bottom.label",
      "default": 60,
      "visible_if": "{{ section.settings.show_background_shape }}"
    },
    {
      "type": "range",
      "id": "background_shape_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.background_shape.background_shape_left.label",
      "default": 60,
      "visible_if": "{{ section.settings.show_background_shape }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_styling"
    },
    {
      "type": "checkbox",
      "id": "show_top_divider",
      "label": "t:sections.all.show_top_divider.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "divider_color_scheme",
      "default": "scheme-2",
      "label": "t:sections.all.top_divider_color_scheme.label",
      "info": "t:sections.all.top_divider_color_scheme.info",
      "visible_if": "{{ section.settings.show_top_divider }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.accent_image.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_accent_image",
      "label": "t:sections.all.accent_image.show_image.label",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "accent_image",
      "label": "t:sections.all.image.label",
      "info": "t:sections.all.image.info",
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "range",
      "id": "accent_horizontal_anchor",
      "label": "t:sections.all.accent_image.horizontal_anchor.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "range",
      "id": "accent_vertical_anchor",
      "label": "t:sections.all.accent_image.vertical_anchor.label",
      "info": "t:sections.all.accent_image.vertical_anchor.info",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "range",
      "id": "accent_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.accent_image.image_size.label",
      "info": "t:sections.all.accent_image.image_size.info",
      "default": 30,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "checkbox",
      "id": "hide_accent_on_mobile",
      "label": "t:sections.all.accent_image.hide_on_mobile.label",
      "default": true,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "checkbox",
      "id": "accent_cover",
      "label": "t:sections.all.accent_image.image_cover.label",
      "info": "t:sections.all.accent_image.image_cover.info",
      "default": false,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header"
    },
    {
      "type": "checkbox",
      "id": "override_default_styles",
      "label": "t:sections.all.overrides.override_default_styles.label",
      "info": "t:sections.all.overrides.override_default_styles.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header_section.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_space_above",
      "min": -50,
      "max": 100,
      "step": 10,
      "label": "t:sections.all.overrides.override_space_above.label",
      "default": 0,
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_space_below",
      "min": -50,
      "max": 100,
      "step": 10,
      "label": "t:sections.all.overrides.override_space_below.label",
      "default": 0,
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header_intro.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_header_font_size",
      "min": -10,
      "max": 30,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.overrides.override_header_font_size.label",
      "default": 0,
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_text_font_size",
      "min": -6,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.overrides.override_text_font_size.label",
      "default": 0,
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header_content.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_heading_font_size",
      "min": -6,
      "max": 20,
      "step": 2,
      "default": 0,
      "label": "t:sections.product-features.overrides.heading_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_feature_text_font_size",
      "min": -6,
      "max": 20,
      "step": 2,
      "default": 0,
      "label": "t:sections.product-features.overrides.feature_text_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    }
  ],
  "blocks": [
    {
      "type": "product_feature",
      "name": "t:sections.product-features.blocks.product_feature.name",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "header",
          "default": "Sustainably made",
          "label": "t:sections.all.header.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Explain the feature.</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "checkbox",
          "id": "show_in_front_of_accent_image",
          "label": "t:sections.all.accent_image.show_in_front_of_image.label",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-features.presets.name",
      "category": "t:settings_schema.groups.product",
      "blocks": [
        {
          "type": "product_feature"
        },
        {
          "type": "product_feature"
        },
        {
          "type": "product_feature"
        },
        {
          "type": "product_feature"
        }
      ]
    }
  ]
}
{% endschema %}
