{%- liquid
  assign show_top_divider = section.settings.show_top_divider
  assign button_style = section.settings.button_style

  if section.settings.title != blank
    assign title = section.settings.title | escape
  else
    assign title = section.settings.blog.title
  endif

  assign grid_class = 'grid--' | append: section.settings.columns_desktop
  assign grid_class = grid_class | append: ' grid--'
  assign columns_mobile = section.settings.columns_mobile
  if columns_mobile == 'default'
    assign columns_mobile = settings.columns_mobile
  endif
  assign grid_class = grid_class | append: columns_mobile
  assign grid_class = grid_class | append: '-mobile'

  assign articles = section.settings.blog.articles
  assign all_posts_link = section.settings.blog.url
  assign count = 0
  if section.settings.tags != blank
    for article in section.settings.blog.articles
      if article.tags contains section.settings.tags
        assign articles = articles | slice: count
      else
        assign count = count | plus: 1
      endif
    endfor
    assign all_posts_link = all_posts_link | append: '/tagged/' | append: section.settings.tags
  endif

  assign article_count = articles | size

  if section.settings.layout_mobile == "slider" or section.settings.layout_desktop == "slider"
    assign build_slider = true
  endif

-%}

{% if build_slider %}
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>
  {{ 'slider.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- style -%}
  {% if section.settings.show_accent_image and section.settings.accent_image %}
    {% render 'styling-section',
      section_id: section.id,
      accent_image: section.settings.accent_image,
      accent_vertical_anchor: section.settings.accent_vertical_anchor,
      accent_horizontal_anchor: section.settings.accent_horizontal_anchor,
      accent_size: section.settings.accent_size,
      hide_accent_on_mobile: section.settings.hide_accent_on_mobile,
      accent_cover: section.settings.accent_cover
    %}
  {% endif %}
{%- endstyle -%}

{%- if show_top_divider -%}
  <div class="top-divider color-{{ section.settings.divider_color_scheme }}"></div>
{%- endif -%}

<div class="section-outer{% if show_top_divider %} has-divider{% endif %}">
  <div class="section-standard section--featured-blog section-content bg-default color-{{ section.settings.color_scheme }}"{% if section.settings.override_default_styles %} style="--override-padding-top: {{ section.settings.override_space_above }}px; --override-padding-bottom: {{ section.settings.override_space_below }}px;"{% endif %}>
    <div class="contained-section alignment in-front-of-accent-image">
      <div class="section-intro">
        <{{ section.settings.header_tag }}{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_header_font_size }}px;"{% endif %}>{{ title }}</{{ section.settings.header_tag }}>
        {%- if section.settings.text != blank -%}
          <div class="rte"{% if section.settings.override_default_styles %} style="--override-font-size: {{ section.settings.override_text_font_size }}px;"{% endif %}>{{ section.settings.text }}</div>
        {%- endif -%}
      </div>
      {% if build_slider %}
        <column-slider data-mobile-layout="{{ section.settings.layout_mobile }}" data-mobile-slides-per-view="{{ columns_mobile }}" data-desktop-layout="{{ section.settings.layout_desktop }}" data-desktop-slides-per-view="{{ section.settings.columns_desktop }}" id="column-slider-{{ section.id }}">
          <div class="swiper swiper-column-slider" id="swiper-{{ section.id }}">
            <div class="featured-blog-content swiper-wrapper grid {{ grid_class }}">
      {% else %}
        <div class="featured-blog-content grid {{ grid_class }}">
      {% endif %}
        {%- for article in articles limit: section.settings.post_limit -%}
          {%- liquid
            if section.settings.override_default_styles
              assign article_title_font_size = section.settings.override_article_title_font_size
              assign article_date_font_size = section.settings.override_article_date_font_size
              assign article_excerpt_font_size = section.settings.override_article_excerpt_font_size
            else
              assign article_title_font_size = 0
              assign article_date_font_size = 0
              assign article_excerpt_font_size = 0
            endif
          -%}
          <div class="featured-blog__article{% if build_slider %} swiper-slide{% endif %}">
            {% render 'card-article',
              blog: section.settings.blog,
              article: article,
              show_excerpt: section.settings.show_excerpt,
              article_title_font_size: article_title_font_size,
              article_date_font_size: article_date_font_size,
              article_excerpt_font_size: article_excerpt_font_size
            %}
          </div>
        {%- endfor -%}
      {% if build_slider %}
            </div>
          </div>
          <div class="swiper-pagination column-slider--pagination"></div>
          <div class="swiper-button-prev column-slider--navigation">{% render 'icons-main', icon: 'caret' %}</div>
          <div class="swiper-button-next column-slider--navigation">{% render 'icons-main', icon: 'caret' %}</div>
        </column-slider>
      {% else %}
        </div>
      {% endif %}

      {%- if section.settings.show_view_all and section.settings.post_limit < article_count -%}
        <div class="blog__view-all">
          <a
            href="{{ all_posts_link }}"
            class="{{ button_style }} button--style{% unless button_style == "link" %} button{% endunless %}"
          >
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_content"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Our latest blog posts",
      "label": "t:sections.all.header.label"
    },
    {
      "type": "select",
      "id": "header_tag",
      "label": "t:sections.all.header.header_tag.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.header.header_tag.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.header.header_tag.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.header.header_tag.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.header.header_tag.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.header.header_tag.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.header.header_tag.h6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "text",
      "id": "tags",
      "label": "t:sections.featured-blog.settings.tags.label",
      "info": "t:sections.featured-blog.settings.tags.info"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_excerpt.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.desktop.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.all.columns_number.label"
    },
    {
      "type": "select",
      "id": "layout_desktop",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.all.layout.grid.label"
        },
        {
          "value": "slider",
          "label": "t:sections.all.layout.slider.label"
        }
      ],
      "default": "grid",
      "label": "t:sections.all.layout.label",
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "default",
      "label": "t:sections.all.columns_number.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.default.label"
        },
        {
          "value": "1",
          "label": "t:settings_schema.layout.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:settings_schema.layout.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.all.layout.grid.label"
        },
        {
          "value": "slider",
          "label": "t:sections.all.layout.slider.label"
        }
      ],
      "default": "grid",
      "label": "t:sections.all.layout.label",
    },
    {
      "type": "header",
      "content": "t:sections.all.section_styling"
    },
    {
      "type": "checkbox",
      "id": "show_top_divider",
      "label": "t:sections.all.show_top_divider.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "divider_color_scheme",
      "default": "scheme-2",
      "label": "t:sections.all.top_divider_color_scheme.label",
      "info": "t:sections.all.top_divider_color_scheme.info",
      "visible_if": "{{ section.settings.show_top_divider }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.buttons.style.label",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.all.buttons.solid.label"
        },
        {
          "value": "outline",
          "label": "t:sections.all.buttons.outline.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.buttons.link.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "header",
      "content": "t:sections.all.accent_image.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_accent_image",
      "label": "t:sections.all.accent_image.show_image.label",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "accent_image",
      "label": "t:sections.all.image.label",
      "info": "t:sections.all.image.info",
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "range",
      "id": "accent_horizontal_anchor",
      "label": "t:sections.all.accent_image.horizontal_anchor.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "range",
      "id": "accent_vertical_anchor",
      "label": "t:sections.all.accent_image.vertical_anchor.label",
      "info": "t:sections.all.accent_image.vertical_anchor.info",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "range",
      "id": "accent_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.accent_image.image_size.label",
      "info": "t:sections.all.accent_image.image_size.info",
      "default": 30,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "checkbox",
      "id": "hide_accent_on_mobile",
      "label": "t:sections.all.accent_image.hide_on_mobile.label",
      "default": true,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "checkbox",
      "id": "accent_cover",
      "label": "t:sections.all.accent_image.image_cover.label",
      "info": "t:sections.all.accent_image.image_cover.info",
      "default": false,
      "visible_if": "{{ section.settings.show_accent_image }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header"
    },
    {
      "type": "checkbox",
      "id": "override_default_styles",
      "label": "t:sections.all.overrides.override_default_styles.label",
      "info": "t:sections.all.overrides.override_default_styles.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header_section.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_space_above",
      "min": -50,
      "max": 100,
      "step": 10,
      "default": 0,
      "label": "t:sections.all.overrides.override_space_above.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_space_below",
      "min": -50,
      "max": 100,
      "step": 10,
      "default": 0,
      "label": "t:sections.all.overrides.override_space_below.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header_intro.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_header_font_size",
      "min": -10,
      "max": 30,
      "step": 2,
      "default": 0,
      "label": "t:sections.all.overrides.override_header_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_text_font_size",
      "min": -6,
      "max": 20,
      "step": 2,
      "default": 0,
      "label": "t:sections.all.overrides.override_text_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.overrides.header_content.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_article_title_font_size",
      "min": -6,
      "max": 20,
      "step": 2,
      "default": 0,
      "label": "t:sections.featured-blog.overrides.article_title_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_article_date_font_size",
      "min": -6,
      "max": 20,
      "step": 2,
      "default": 0,
      "label": "t:sections.featured-blog.overrides.article_date_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    },
    {
      "type": "range",
      "id": "override_article_excerpt_font_size",
      "min": -6,
      "max": 20,
      "step": 2,
      "default": 0,
      "label": "t:sections.featured-blog.overrides.article_excerpt_font_size.label",
      "visible_if": "{{ section.settings.override_default_styles }}"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "category": "t:settings_schema.groups.blog"
    }
  ]
}
{% endschema %}
